{% layout 'theme.bootstrap.landing-page' %}

{{ 'love-collection.css' | asset_url | stylesheet_tag }}

<link href="https://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />

<div id="glass">
    
  <div class="header-logo" style="border:none;padding-top:40px;background:black;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img style="height:80px;max-width:none;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/dfw_logo_silhouette-white.png?6757622883716266657" >
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
        </div>
      </div>
  </div>

<!-- 

  <div id="" style="background:black;">
    <div class="container" style="padding-bottom:10px;padding-top:30px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        </div>
      </div>
    </div>
  </div>
 -->
  
<img style="background:black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Salon_Naturel_Header_-_Chopped.png?15952653739243911886"/>

<div class="main-product-section" style="background:black; padding-top:0px;margin-top:-3px;">
  <div class="container" style="padding-top:30px;background:black">
    <div class="row salon-definition">
      <div class="text-center"> 
        
      <h1 style="font-size:40px;margin-top:55px;margin-bottom:20px;color:white;">History of the Salon</h1>
      <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">In the 16th century, Salons first appeared in Italy (“Salone”). Salons soon flourished in Paris, where the first use of the word “Salon” appeared in 1664.</p>

      <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">Salons were gatherings of the curious and educated, invited by an inspired host. Partly to amuse, partly to exchange knowledge, the guests refined their taste through social experiences and thoughtful, entertaining conversation.</p>

	  <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">French Salons in the 1700s were at the heart of the social scene. Guests engaged in rich and inspirational culture. In this setting, curious minds came together to share ideas as they enjoyed drinks and good company.</p>

       <h1 style="font-size:40px;margin-top:60px;margin-bottom:20px;color:white;">San Francisco, Summer 2018</h1>
        
      <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">Inspired by this energy, Dry Farm Wines is hosting Salon Naturels (French for "Natural Salons") in cities across the United States. Our first takes place in the Summer of 2018 in San Francisco, exclusively for our Dry Farm Wines Members to gather. </p>

      <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">As an expression of our gratitude for your support, we welcome you to a wonderful seated dinner and exceptional Social. The Dry Farm Wines Family will prepare and present a full ketogenic meal, along with a grand selection of more than 50 of our imported, pure Natural Wines for enjoyment from 10 different countries. Included in the evening are three musical offerings and dancing into the night. At Salon Naturel, we will share with you our special lifestyle of health and happiness.</p>

      <p style="font-size:28px;margin-bottom:20px;color:white;font-family: brandon-grotesque, sans-serif;font-weight: 300;">Please gather with us in the Salon. Elevate from the routine of everyday life, and celebrate the present moment of the art of living well. </p>
        
      <h1 style="font-size:42px;margin-top:75px;margin-bottom:20px;color:white;">Our Inaugural Salon Naturel</h1>
      <h1 style="font-size:32px;margin-top:20px;margin-bottom:15px;color:white;">San Francisco, California</h1>
      <h1 style="font-size:32px;margin-bottom:15px;color:white;">August 18, 2018</h1>
      <h1 style="font-size:32px;margin-bottom:20px;color:white;">18:00</h1>
      <h1 style="font-size:32px;margin-bottom:20px;color:white;">$171</h1>
       </div>           
    </div>
    
     <div class="text-center glass-harmony-cta">
      <a href="https://www.eventbrite.com/e/salon-naturel-san-francisco-tickets-48288552360" class="action_button" style="padding:15px 40px;margin:30px 0px;background:white;color:black;">Attend our First Salon</a>
          <h1 style="font-size:24px;margin-bottom:20px;color:white;font-style:italic;">Limited to 100 Members</h1>
    </div>
    
    <br />
    <hr>

    <div class="row">
      <div class="col-md-6">
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_6.png?14320366079064452747"/>
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_1_1.png?14320366079064452747"/>
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_2_1.png?14320366079064452747"/>

      </div>
      <div class="col-md-6">
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_3_1.png?14320366079064452747"/>
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_4_1.png?14320366079064452747"/>
        <img style="background:black;max-height:500px;margin-bottom:30px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ketogenic_Cuisine_5_1.png?14320366079064452747"/>

      
      </div>
    </div>
    
  </div>
</div>
      
  
<div id="" style="background:black;">
  
   <div class="main-product-section" id="main-product-id" style="background:black; padding-top:0px;">
    <div class="container" style="padding-top:0px;">

      <div class="text-center glass-harmony-cta">
      	<a href="https://www.eventbrite.com/e/salon-naturel-san-francisco-tickets-48288552360" class="action_button" style="padding:15px 50px;margin:50px 0px;background:white;color:black;">Join our Salon SF</a>
      </div>
      
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <div class="main-product" style="background:black;">
            <h1 style="font-family: 'brandon_regular'; font-size: 45px; margin-bottom:40px;margin-top:40px;color:white;">FAQs</h1>
            <h1 style="font-family: 'brandon_regular_bold'; font-size: 33px; margin-bottom:10px;color:white;">What is Salon Naturel?</h1>
            <p style="font-family: 'brandon_regular'; font-size: 25px; margin-bottom:40px;color:white;">Salon Naturel is a Members-only dinner event hosted by Dry Farm Wines. We cook a full ketogenic meal, and curate a grand selection of our Natural Wines to show DFW Members our gratitude for their support.</p>

            <h1 style="font-family: 'brandon_regular_bold'; font-size: 33px; margin-bottom:10px;color:white;">When and where is the Salon?</h1>
            <p style="font-family: 'brandon_regular'; font-size: 25px; margin-bottom:40px;color:white;">Every Salon takes place in a different US city. Our first edition is in San Francisco on Saturday August 18, 2018 at 18:00.</p>

            
            <h1 style="font-family: 'brandon_regular_bold'; font-size: 33px; margin-bottom:10px;color:white;">How can I attend?</h1>
            <p style="font-family: 'brandon_regular'; font-size: 25px; margin-bottom:40px;color:white;">All active Members of Dry Farm Wines are welcome to purchase a ticket for them and a guest. Tickets for Salon Naturel SF are $171.</p>

          </div>
        </div>
            
            
            
      
      </div>
    </div>
  </div>
  
  <div class="container" style="text-align:center;padding-top:20px;">
       
      <h1 style="font-family: 'brandon_regular_bold'; font-size: 50px; margin-top:60px;margin-bottom:20px;color:white;">Coming Soon...</h1>
       
      <img style="margin-top:10px;background:black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Salon_Naturel_8.png?17686411206950529266" >
      <img style="margin-top:10px;background:black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Salon_Naturel_5.png?109162587645374786" >
  </div>
  
</div>
  
   <div style="background:black;padding:150px 50px;text-align:center;">
     
      <h1 style="font-size:42px;margin-bottom:20px;color:white;">Join Our Inaugural Salon Naturel</h1>
      <h1 style="font-size:32px;margin-top:20px;margin-bottom:15px;color:white;">San Francisco, California</h1>
      <h1 style="font-size:32px;margin-bottom:15px;color:white;">August 18, 2018</h1>
      <h1 style="font-size:32px;margin-bottom:20px;color:white;">18:00</h1>
     
   	<div class="text-center glass-harmony-cta">
      <a href="https://www.eventbrite.com/e/salon-naturel-san-francisco-tickets-48288552360" class="action_button" style="padding:15px 40px;margin:30px 0px;background:white;color:black;">Attend our First Salon</a>
      <h1 style="font-size:24px;color:white;font-style:italic;">Limited to 100 Members</h1>
    </div>
     
   </div>

</div>

<img style="background:black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180603232237_DSCF3584_DryfFarmWines_YannikRohrer_Fujifilm_X-H1_XF35mmF1.4_R_53_mm_0._RAW_0316_Edit_DFW_Italy_GrowerVisit_ValentinaPassalacqua_Edit_Color_12MP_1.5MB.jpg?15952653739243911886"/>


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
  
  
  
  
</script>


  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  



<script>
	/**BEGIN JAVASCRIPT **/
  /** COPIED FROM SUBSCRIPTION-PRODUCT.LIQUID **/
if (subscription_on==true) {

    window.currency_symbol='$'
    window.currency_suffix=''
    
    discount_percentage_metafield_value = {{ product.metafields.subscriptions.discount_percentage | floor }} 
    has_discount_{{product.id}} = false
    if(discount_percentage_metafield_value > 0) {
		has_discount_{{product.id}} = true 
	}
	
	/* for changing background color when a selection is clicked */
	rjQuery('body').on('click','.autodeliver.{{product.id}}',function() {
		rjQuery('.radio_option.{{product.id}}').removeClass('active')
		rjQuery(this).parent().parent().addClass('active')

		if( rjQuery(this).val()=='autodeliver' ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active')
			rjQuery('#single_purchase_{{product.id}}').removeClass('active')
		} else if( rjQuery(this).val()=='onetime' ) {
			rjQuery('#recurring_purchase_{{product.id}}').removeClass('active')
			rjQuery('#single_purchase_{{product.id}}').addClass('active')
		}

		if(has_discount_{{product.id}} == true) {
			updatePrice_{{product.id}}("UPDATE - Change radio");    
		}
	})
	
	 //HANDLE THE ADDING TO CART
	rjQuery( document ).ready(function() {
		// CREATE DUPLICATE SELECT WITH OPTIONS
      	var myDiv = rjQuery('form[data-productid="{{product.id}}"]');
		var discount_prices = discount_variants_array_for_select_{{product.id}}; //discount price options
		//Create and append select list
		var discount_select_menu_html = rjQuery("<select id='discount-select-{{product.id}}'></select>"); 
		myDiv.append(discount_select_menu_html);
		for (var i = 0; i < discount_prices.length; i++) {
			var option = rjQuery('<option></option>').val(discount_prices[i]).html(discount_prices[i])
			discount_select_menu_html.append(option);
		}

        // ADD IDENTIFIERS TO ORIGINAL AND DUPLICATE SELECT        
        var discount_select_{{product.id}} = rjQuery("#discount-select-{{product.id}}")
        discount_select_{{product.id}}.hide();  
        
        var original_select_{{product.id}} = rjQuery('[name="id"][data-productid="{{product.id}}"]')
		original_select_{{product.id}}.addClass('original_select_{{product.id}}')
        // Set value of discount select on page load
        var original_select_menu_value = original_select_{{product.id}}.val();
		var discount_value_of_originally_selected_menu_value = variant_id_to_discount_id_map_{{product.id}}[original_select_menu_value]['discount_variant_id'];
		discount_select_{{product.id}}.val(discount_value_of_originally_selected_menu_value);	

        // using a timeout to wait for shopify to load select elements via javascript
        setTimeout(function(){
        	
        	// INITIALIZE LISTENER FOR WHEN VARIANT DROPDOWN IS CHANGED 
			rjQuery('form[data-productid="{{product.id}}"] .single-option-selector').change(function(){
				
				setTimeout(function(){
					var original_product_value = original_select_{{product.id}}.val();	
					discount_select_{{product.id}}.val(variant_id_to_discount_id_map_{{product.id}}[original_product_value]['discount_variant_id']);	
					
					updatePrice_{{product.id}}();
				}, 400);
				
			})

            // LISTENER FOR WHEN RADIO OPTION FOR ONE-TIME/RECURRING IS CHECKED                
            rjQuery(".autodeliver.{{product.id}}").change(function(){				
				/*IF AUTODELIVER IS SELECTED, WE SET OUR SELECT to name=id and take that attribute off the original select*/	
				if(rjQuery(this).val() == 'autodeliver'){
					// set duplicate select to be submitted 
					original_select_{{product.id}}.attr('name','')
					discount_select_{{product.id}}.attr('name','id')
					//set shipping interval + subscription id attributes to be submitted when form is submitted
					rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
					rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
					rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');

				}
              else if (rjQuery(this).val() == 'onetime') {
                  // set original select to be submitted
                  original_select_{{product.id}}.attr('name','id')
                  discount_select_{{product.id}}.attr('name','')
                  
                  // remove shipping interval + subscription id from form submission since we're not subscription
                  rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','');
                  rjQuery("#subscription_id_{{product.id}}").attr('name','');
				  rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','');
              }
            });
        }, 300); // end setTimeout / initialization of select menu listeners

        // IF SUBSCRIPTION ONLY, preset the subscription inputs
        {% if subscription_only == 'true' %}
			// set duplicate select to be submitted
			original_select_{{product.id}}.attr('name','')
			discount_select_{{product.id}}.attr('name','id')
			
			// set shipping interval + subscription id to be submitted
			rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
			rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
            rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');              
			
        {% endif %}
      });
 
 
	/*** THIS PERFORMS PRICE UPDATE of primary price text above options***/
	function updatePrice_{{product.id}}(debugging_text) {
		var price_selectors = '.current_price, #productPrice, .product-price, .price, #price-preview, .actual-price'
		
		//check for quickbuy and adjust selectors if needed
		if ( rjQuery(price_selectors).size() > 1 ) {
			var has_quickbuy = true
			//the quickbuy price selectors
			price_selectors += ', .current_price.{{product.id}}, #productPrice.{{product.id}}, .product-price.{{product.id}}, .price.{{product.id}}, #price-preview.{{product.id}}'
		}
		
		rjQuery(price_selectors).html(''); //blank out the current price
		var variant_id = rjQuery('.original_select_{{product.id}}').val()      
		var quantity = rjQuery('form[data-productid="{{product.id}}"] [name="quantity"]').val()
	  
		if(typeof quantity === 'undefined'){
			//some sites don't define quantity in the form so we need this as a backup
			quantity = 1;
		}
		
		variant_price_{{product.id}} = (variant_id_to_price_map_{{product.id}}[variant_id] / 100) 
		
		//if recurring is on, set 
		if( rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true && variant_id_to_discount_id_map_{{product.id}}[variant_id]['discount_variant_id'] !='') {
			variant_price_{{product.id}} = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
		} 

		variant_price_{{product.id}} = parseFloat(variant_price_{{product.id}}).toFixed(2)
		var displayed_price = parseFloat(quantity * variant_price_{{product.id}}).toFixed(2)
		var price_string = currency_symbol+' '+displayed_price + currency_suffix
	  
		if(window.first_time_{{product.id}}){
			rjQuery(price_selectors).html(price_string)
		}
		window.first_time_{{product.id}} = true;
		updateInlinePrice_{{product.id}}()
	}

	// This function updates the inline prices (next to radio buttons) 
	function updateInlinePrice_{{product.id}}() {
		var variant_id = rjQuery('.original_select_{{product.id}}').val();
		var price_one_time = (variant_id_to_price_map_{{product.id}}[variant_id] / 100);
		price_one_time = parseFloat(price_one_time).toFixed(2);
        
        var price_recurring = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
        price_recurring = parseFloat(price_recurring).toFixed(2);

		rjQuery('#one-time-price_{{product.id}}').text(" "+currency_symbol+ price_one_time + currency_suffix);
		rjQuery('#recurring-time-price_{{product.id}}').text(" "+currency_symbol + price_recurring + currency_suffix);
	}
	
	/** PRICE RELATED DOCUMENT READY **/
	rjQuery(document).ready(function(){
		
		/** make sure correct option has grey border **/
		window.lock_{{product.id}} = false;
		window.first_time_{{product.id}} = true;
		if(rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active');
		} else {
			rjQuery('#single_purchase_{{product.id}}').addClass('active');
		}
		if(has_discount_{{product.id}} == true) {
			setTimeout(function(){ updatePrice_{{product.id}}("") }, 200);
		}
		
		
		//if something modifies the price, we notice it and then change it back. but we use a timeout function to avoid an infinite loop
		rjQuery('.current_price, #productPrice, .product-price, .price, #price-preview').bind("DOMSubtreeModified",function(){      
			if( window.lock_{{product.id}} == false ) {
				window.lock_{{product.id}} = true;
				if(has_discount_{{product.id}} == true) {
					updatePrice_{{product.id}}("UPDATE - DOMSubtreeModified");
				}
				setTimeout(function(){window.lock_{{product.id}}=false}, 200);
			}
		});
		
		//handle change in quantity
		rjQuery('#quantity').on("change",function(){
			if(has_discount_{{product.id}} == true) {
				updatePrice_{{product.id}}("UPDATE - Qty change on");
			}
		});
		
		//run the price updater once page loads to reset it to what we need it to be				
		updateInlinePrice_{{product.id}}();		
				
	})//end document ready

		

	/** set variant mapping for the case in which there is an automatically created duplicate product **/
	var variant_id_to_discount_id_map_{{product.id}} = {};  
	var variant_price_to_discount_price_map_{{product.id}} ={} 
	var discount_variants_array_for_select_{{product.id}}=[]
	
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		var discount_variant_id = '{{ variant.metafields.subscriptions.discount_variant_id }}'
		variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}']='' 
		
		if(discount_variant_id) {
			variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}'] = {"discount_variant_id":discount_variant_id};
			discount_variants_array_for_select_{{product.id}}.push(discount_variant_id)
		}
		
		var discount_variant_price = '{{ variant.metafields.subscriptions.discount_variant_price }}'
		variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}']=''
		
		if(discount_variant_price) {
			variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}'] = { "discount_variant_price": discount_variant_price } 
		}

{%endunless%}
{%endunless%}
	{% endfor %}
	
	//map original prices for updated price calculations
	variant_id_to_price_map_{{product.id}}={}
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		variant_id_to_price_map_{{product.id}}['{{variant.id}}'] = "{{variant.price}}"

{%endunless%}
{%endunless%}
	{% endfor %}

}//end if (subscription_on==true) section
	
</script> 


