{% layout 'theme.bootstrap.landing-page' %}

{{ 'love-collection.css' | asset_url | stylesheet_tag }}

<link href="https://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />

<div id="glass">
    
  <div class="header-logo" style="border:none;padding-top:40px;background:black;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img style="height:80px;max-width:none;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/dfw_logo_silhouette-white.png?6757622883716266657" >
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
        </div>
      </div>
  </div>

  <div id="" style="background:black;">
    <div class="container" style="padding-bottom:20px;padding-top:30px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h1 style="padding:15px 0px 5px 0px;font-size:50px;color:white;">Our Still Life Gallery</h1>
            <h3 style="font-size:27px;color:white;font-family:'brandon_regular' !important;">A Collection of Our Modern Still Life Projects</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   <div id=""style="background:black;">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          	<div class="text-center">
            <p style="margin-bottom:15px;font-size:24px;color:white;">Welcome to our still life gallery. Here, we present a collection of every still life we have created.</p>
            <p style="margin-bottom:15px;font-size:24px;color:white;"> For us, each Modern Still Life represents a beautiful interpretation of a theme. It is a colorful, captivating way to express the art of what we do. Much like wine itself, the making of each still life is a flurry of creativity, inspired flow, and plenty of last minute adjustments to get it just right.</p>
            <h1 style="margin-bottom:15px;font-size:24px;color:white;">We're grateful for the chance to share it with you.</h1>
        	</div>
            </div>
        </div>
      
    </div>
  </div>
  

  <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">The Gallery</h1>
          </div>
        </div>
      </div>
        
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180122_13_26_37_DryFarmWines_Studio_Staging_LoveMonth_FinalEdit2_0003.jpg?4158838165814126022">
          <h1 style="font-size:32px;margin-top:20px;">The Love Collection</h1>
            <p style="margin-bottom:20px;">This was our first interpretaton of modern still life. Inspired by Parisian flower shops and romantic tones, we wanted to capture the subtle elegance and glory of LOVE. </p>
            <p style="margin-bottom:20px;">Download your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180122_13_26_37_DryFarmWines_Studio_Staging_LoveMonth_FinalEdit2_0001.jpg?17253352475404449643"> by clicking here</a>. And, <a href="https://www.youtube.com/embed/tTML1lGVveE">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:250px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180219_22_14_16_Studio_Session_DFW_IllQuatro_2_0001_-2.jpg?696980904130252424">
          <h1 style="font-size:32px;margin-top:20px;">Il Quattro</h1>
            <p style="margin-bottom:20px;">In our second Still Life, we channeled the vibrant, savory art of the Italian dinner table. Italian cuisine and florals create a beautiful tapestry that showcases the natural elegance of Italy. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180219_22_14_16_Studio_Session_DFW_IllQuatro_2_0001_-2.jpg?696980904130252424"> is here</a>. And, <a href="https://www.youtube.com/embed/IlcXYjYWkJA">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180221_213330_XT26533_www.YannikRohrer.com__0006_DFW_Promotion_OrangeTrio_StillLife-17.jpg?4330449974803911458">
          <h1 style="font-size:32px; margin-top:20px;">Orange Trio</h1>
          <p>Our orange Still Life is inspired by the vibrant colors of fruit and florals. Bright zest, elegant shadows, and simple rustic elements portray our love for unique orange wine.</p>
          <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180221_213330_XT26533_www.YannikRohrer.com__0006_DFW_Promotion_OrangeTrio_StillLife-17.jpg?4330449974803911458"> is here</a>. And, <a href="https://www.youtube.com/embed/7C2e4Ix4ALU">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180314_180325_XT20664_www.YannikRohrer.com__0348_Still_Life_Final_0001_Edit-1000KB.jpg?5793746341094984272">
          <h1 style="font-size:32px; margin-top:20px;">Easter Spring</h1>
            <p style="margin-bottom:20px;">With a calm bunny and fresh easter eggs, our Easter still life reflects the life of Spring. Yellow accents, natural influences, and a crisp mirror provide balance and structure. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180314_180325_XT20664_www.YannikRohrer.com__0348_Still_Life_Final_0001_Edit-1000KB.jpg?11986930123191833223"> is here</a>. And, <a href="https://www.youtube.com/embed/-OpPAA_Sdcs">watch this video</a> to see how it came together.</p>
        </div>
      </div>
       
      
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180323_172326_XT21581_www.YannikRohrer.com__1541_Still_Life_DFW_Promotion_StillLife_TasteSpain_SpanishTrio__0001_1.jpg?18145123175408879608">
          <h1 style="font-size:32px;margin-top:20px;">El Trío</h1>
            <p style="margin-bottom:20px;">Spain is alive with bright personality, eye catching colors, spicy flavors, and beautiful nature. Our sixth modern still life captures this essence to present exclusive our Spanish wine collection. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180323_172326_XT21581_www.YannikRohrer.com__1541_Still_Life_DFW_Promotion_StillLife_TasteSpain_SpanishTrio__0001_1.jpg?18145123175408879608"> is here</a>. And, <a href="https://www.youtube.com/embed/v2ppv2duuH4">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_04_25_RosettaMothersDay_Resize__Export-_20180328_175623_0001_MothersDayBottleShots.jpg?10350793267624631559">
          <h1 style="font-size:32px;margin-top:20px;">Mother's Day</h1>
            <p style="margin-bottom:20px;">One of our partners, Rosetta, is having her first baby boy. As the centerpiece of our Mother's Day still life, she represents our gratitude to all mothers for their inspiring love and dedication. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_04_25_RosettaMothersDay_Resize__Export-_20180328_175623_0001_MothersDayBottleShots.jpg?10350793267624631559"> is here</a>. And, <a href="https://www.youtube.com/embed/cey-oEv3cXU">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      
       <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_05_04_DFW_StillLife_RoseCollection__Export-_20180502_182617_0001_DFW_Promotion_StillLifeRoseCollection_WEB.jpg?216242623898992103">
          <h1 style="font-size:32px;margin-top:20px;">The Rosé Collection</h1>
            <p style="margin-bottom:20px;">Inspired by full florals and the simple elegance of glass, we capture our love for rosé in this still life. Many shades of pink catch the eye, along with the burnt wood finish of the background. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_05_04_DFW_StillLife_RoseCollection__Export-_20180502_182617_0001_DFW_Promotion_StillLifeRoseCollection_WEB.jpg?216242623898992103"> is here</a>. And, <a href="https://www.youtube.com/embed/FrqOFMT459U">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180523_014025_XT21265_www.YannikRohrer.com__0015-Edit_Export-Edit-2.jpg?16421064916253015583">
          <h1 style="font-size:32px;margin-top:20px;">Father's Day</h1>
            <p style="margin-bottom:20px;">Power. Grounding presence. Love for family. These are the themes we try to invoke in our Father's Day still life. Our artistic inspiration comes from the simple, raw austerity of the earth paired with the spilled red wine.  </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180523_014025_XT21265_www.YannikRohrer.com__0015-Edit_Export-Edit-2.jpg?16421064916253015583"> is here</a>. And, <a href="https://www.youtube.com/embed/n9Nf4B-SGzQ">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180622014121_2018-06-22__01-41-21_YannikRohrer_Fujifilm_X-T2_58_mm__XT25710_0079__DryfFarmWines_YannikRohrer_Fujifilm_X-T2_XF16-55mmF2.8_R_LM_WR_58_mm_Photo_0001_Edit_DFW_StillLife_Promotion_July4_E.jpg?12983656667954363770">
          <h1 style="font-size:32px;margin-top:20px;">July 4th</h1>
            <p style="margin-bottom:20px;">The beautiful, simple elements of Americana inspire us in this still life. Picnic wares, blooming florals, a straw hat, and of course the American flag puncture a vibrant display of the USA. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180622014121_2018-06-22__01-41-21_YannikRohrer_Fujifilm_X-T2_58_mm__XT25710_0079__DryfFarmWines_YannikRohrer_Fujifilm_X-T2_XF16-55mmF2.8_R_LM_WR_58_mm_Photo_0001_Edit_DFW_StillLife_Promotion_July4_E.jpg?12983656667954363770"> is here</a>. And, <a href="https://www.youtube.com/embed/RNvgREfMvQE">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180713_021353_20180713_021353_XT27835_www.YannikRohrer.com__2300_TL_2_PrimaryCameraExport_-_Edit_StillLife_SummerSparkling_2.5MB_12MP_Alternative_0018.jpg?9308651707064891801">
          <h1 style="font-size:32px;margin-top:20px;">The Summer Sparkling Collection</h1>
            <p style="margin-bottom:20px;">A pyramid of champagne coupes filled to the brim with bubbly expresses the elegance and grandeur of our sparkling wines. And don't forget the quartz blocks, glass elements, and florals - they add a rounded, polished feel to the piece.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180713_021353_20180713_021353_XT27835_www.YannikRohrer.com__2300_TL_2_PrimaryCameraExport_-_Edit_StillLife_SummerSparkling_2.5MB_12MP_Alternative_0018.jpg?9308651707064891801"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018-07-20__01-37-58_YannikRohrer_Fujifilm_X-T2_53_mm__XT27982_0044__DFW_Promotion_StillLife_PinotPack_Export-Edit_12MP-2MB_1.jpg?15860216602985633031">
          <h1 style="font-size:32px;margin-top:20px;">Pinot Pack</h1>
            <p style="margin-bottom:20px;">Hints of delicate red florals cast a bright accent on mineral, rocky formations. With Pineau - our company French Bulldog - the still life exudes a balance of power and vibrant life.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/2018-07-20__01-37-58_YannikRohrer_Fujifilm_X-T2_53_mm__XT27982_0044__DFW_Promotion_StillLife_PinotPack_Export-Edit_12MP-2MB_1.jpg?15860216602985633031"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180906_175337_1._Still_Life_Final_00001_DFW_Promotion_StillLife_LowAlcohol_2018_12MP_1.jpg?4541132021910182087">
          <h1 style="font-size:32px;margin-top:20px;">Extra Low Alcohol Reds</h1>
            <p style="margin-bottom:20px;">The centerpiece - an overflow of bright red cherries - speaks to the vibrant expressiveness of these wines. The simplicity of the whole piece - highlighted by the single rising orchid - represents the precise drinkability of low alcohol.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180906_175337_1._Still_Life_Final_00001_DFW_Promotion_StillLife_LowAlcohol_2018_12MP_1.jpg?4541132021910182087"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      <div class="row text-center" style="margin-bottom:50px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181015_181047_Still_Life_Edit_2_00001_Halloween_StillLifeEdit2_1.jpg?4382570392192788671">
          <h1 style="font-size:32px;margin-top:20px;">The Halloween Selection</h1>
            <p style="margin-bottom:20px;">Orange, orange, orange! Inspired by notes of autumn, this still life captures attention with spooky elements and fall florals.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20181015_181047_Still_Life_Edit_2_00001_Halloween_StillLifeEdit2_1.jpg?4382570392192788671"> is here</a>. And, <a href="https://www.youtube.com/watch?v=2b1asoVHLpA">watch this video</a> to see how it came together.</p>
        </div>
        
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181024_120244_Export_Edit_StillLife_00001_BordeauxBox_FinalStillLifeEdit_12MP_Web_1.jpg?4382570392192788671">
          <h1 style="font-size:32px;margin-top:20px;">The Bordeaux Box</h1>
            <p style="margin-bottom:20px;">An aristocratic French feel comes through this piece: refined glass, mirror, and lamp provide upper-class living room decor. Punctuated with Pineau - our French Bullbug - and you get a veritable view of France. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20181024_120244_Export_Edit_StillLife_00001_BordeauxBox_FinalStillLifeEdit_12MP_Web_1.jpg?4382570392192788671"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>
        </div>
      </div>
      
      
    </div>
  </div>


</div>


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
  
  
  
  
</script>


  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  



<script>
	/**BEGIN JAVASCRIPT **/
  /** COPIED FROM SUBSCRIPTION-PRODUCT.LIQUID **/
if (subscription_on==true) {

    window.currency_symbol='$'
    window.currency_suffix=''
    
    discount_percentage_metafield_value = {{ product.metafields.subscriptions.discount_percentage | floor }} 
    has_discount_{{product.id}} = false
    if(discount_percentage_metafield_value > 0) {
		has_discount_{{product.id}} = true 
	}
	
	/* for changing background color when a selection is clicked */
	rjQuery('body').on('click','.autodeliver.{{product.id}}',function() {
		rjQuery('.radio_option.{{product.id}}').removeClass('active')
		rjQuery(this).parent().parent().addClass('active')

		if( rjQuery(this).val()=='autodeliver' ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active')
			rjQuery('#single_purchase_{{product.id}}').removeClass('active')
		} else if( rjQuery(this).val()=='onetime' ) {
			rjQuery('#recurring_purchase_{{product.id}}').removeClass('active')
			rjQuery('#single_purchase_{{product.id}}').addClass('active')
		}

		if(has_discount_{{product.id}} == true) {
			updatePrice_{{product.id}}("UPDATE - Change radio");    
		}
	})
	
	 //HANDLE THE ADDING TO CART
	rjQuery( document ).ready(function() {
		// CREATE DUPLICATE SELECT WITH OPTIONS
      	var myDiv = rjQuery('form[data-productid="{{product.id}}"]');
		var discount_prices = discount_variants_array_for_select_{{product.id}}; //discount price options
		//Create and append select list
		var discount_select_menu_html = rjQuery("<select id='discount-select-{{product.id}}'></select>"); 
		myDiv.append(discount_select_menu_html);
		for (var i = 0; i < discount_prices.length; i++) {
			var option = rjQuery('<option></option>').val(discount_prices[i]).html(discount_prices[i])
			discount_select_menu_html.append(option);
		}

        // ADD IDENTIFIERS TO ORIGINAL AND DUPLICATE SELECT        
        var discount_select_{{product.id}} = rjQuery("#discount-select-{{product.id}}")
        discount_select_{{product.id}}.hide();  
        
        var original_select_{{product.id}} = rjQuery('[name="id"][data-productid="{{product.id}}"]')
		original_select_{{product.id}}.addClass('original_select_{{product.id}}')
        // Set value of discount select on page load
        var original_select_menu_value = original_select_{{product.id}}.val();
		var discount_value_of_originally_selected_menu_value = variant_id_to_discount_id_map_{{product.id}}[original_select_menu_value]['discount_variant_id'];
		discount_select_{{product.id}}.val(discount_value_of_originally_selected_menu_value);	

        // using a timeout to wait for shopify to load select elements via javascript
        setTimeout(function(){
        	
        	// INITIALIZE LISTENER FOR WHEN VARIANT DROPDOWN IS CHANGED 
			rjQuery('form[data-productid="{{product.id}}"] .single-option-selector').change(function(){
				
				setTimeout(function(){
					var original_product_value = original_select_{{product.id}}.val();	
					discount_select_{{product.id}}.val(variant_id_to_discount_id_map_{{product.id}}[original_product_value]['discount_variant_id']);	
					
					updatePrice_{{product.id}}();
				}, 400);
				
			})

            // LISTENER FOR WHEN RADIO OPTION FOR ONE-TIME/RECURRING IS CHECKED                
            rjQuery(".autodeliver.{{product.id}}").change(function(){				
				/*IF AUTODELIVER IS SELECTED, WE SET OUR SELECT to name=id and take that attribute off the original select*/	
				if(rjQuery(this).val() == 'autodeliver'){
					// set duplicate select to be submitted 
					original_select_{{product.id}}.attr('name','')
					discount_select_{{product.id}}.attr('name','id')
					//set shipping interval + subscription id attributes to be submitted when form is submitted
					rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
					rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
					rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');

				}
              else if (rjQuery(this).val() == 'onetime') {
                  // set original select to be submitted
                  original_select_{{product.id}}.attr('name','id')
                  discount_select_{{product.id}}.attr('name','')
                  
                  // remove shipping interval + subscription id from form submission since we're not subscription
                  rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','');
                  rjQuery("#subscription_id_{{product.id}}").attr('name','');
				  rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','');
              }
            });
        }, 300); // end setTimeout / initialization of select menu listeners

        // IF SUBSCRIPTION ONLY, preset the subscription inputs
        {% if subscription_only == 'true' %}
			// set duplicate select to be submitted
			original_select_{{product.id}}.attr('name','')
			discount_select_{{product.id}}.attr('name','id')
			
			// set shipping interval + subscription id to be submitted
			rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
			rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
            rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');              
			
        {% endif %}
      });
 
 
	/*** THIS PERFORMS PRICE UPDATE of primary price text above options***/
	function updatePrice_{{product.id}}(debugging_text) {
		var price_selectors = '.current_price, #productPrice, .product-price, .price, #price-preview, .actual-price'
		
		//check for quickbuy and adjust selectors if needed
		if ( rjQuery(price_selectors).size() > 1 ) {
			var has_quickbuy = true
			//the quickbuy price selectors
			price_selectors += ', .current_price.{{product.id}}, #productPrice.{{product.id}}, .product-price.{{product.id}}, .price.{{product.id}}, #price-preview.{{product.id}}'
		}
		
		rjQuery(price_selectors).html(''); //blank out the current price
		var variant_id = rjQuery('.original_select_{{product.id}}').val()      
		var quantity = rjQuery('form[data-productid="{{product.id}}"] [name="quantity"]').val()
	  
		if(typeof quantity === 'undefined'){
			//some sites don't define quantity in the form so we need this as a backup
			quantity = 1;
		}
		
		variant_price_{{product.id}} = (variant_id_to_price_map_{{product.id}}[variant_id] / 100) 
		
		//if recurring is on, set 
		if( rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true && variant_id_to_discount_id_map_{{product.id}}[variant_id]['discount_variant_id'] !='') {
			variant_price_{{product.id}} = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
		} 

		variant_price_{{product.id}} = parseFloat(variant_price_{{product.id}}).toFixed(2)
		var displayed_price = parseFloat(quantity * variant_price_{{product.id}}).toFixed(2)
		var price_string = currency_symbol+' '+displayed_price + currency_suffix
	  
		if(window.first_time_{{product.id}}){
			rjQuery(price_selectors).html(price_string)
		}
		window.first_time_{{product.id}} = true;
		updateInlinePrice_{{product.id}}()
	}

	// This function updates the inline prices (next to radio buttons) 
	function updateInlinePrice_{{product.id}}() {
		var variant_id = rjQuery('.original_select_{{product.id}}').val();
		var price_one_time = (variant_id_to_price_map_{{product.id}}[variant_id] / 100);
		price_one_time = parseFloat(price_one_time).toFixed(2);
        
        var price_recurring = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
        price_recurring = parseFloat(price_recurring).toFixed(2);

		rjQuery('#one-time-price_{{product.id}}').text(" "+currency_symbol+ price_one_time + currency_suffix);
		rjQuery('#recurring-time-price_{{product.id}}').text(" "+currency_symbol + price_recurring + currency_suffix);
	}
	
	/** PRICE RELATED DOCUMENT READY **/
	rjQuery(document).ready(function(){
		
		/** make sure correct option has grey border **/
		window.lock_{{product.id}} = false;
		window.first_time_{{product.id}} = true;
		if(rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active');
		} else {
			rjQuery('#single_purchase_{{product.id}}').addClass('active');
		}
		if(has_discount_{{product.id}} == true) {
			setTimeout(function(){ updatePrice_{{product.id}}("") }, 200);
		}
		
		
		//if something modifies the price, we notice it and then change it back. but we use a timeout function to avoid an infinite loop
		rjQuery('.current_price, #productPrice, .product-price, .price, #price-preview').bind("DOMSubtreeModified",function(){      
			if( window.lock_{{product.id}} == false ) {
				window.lock_{{product.id}} = true;
				if(has_discount_{{product.id}} == true) {
					updatePrice_{{product.id}}("UPDATE - DOMSubtreeModified");
				}
				setTimeout(function(){window.lock_{{product.id}}=false}, 200);
			}
		});
		
		//handle change in quantity
		rjQuery('#quantity').on("change",function(){
			if(has_discount_{{product.id}} == true) {
				updatePrice_{{product.id}}("UPDATE - Qty change on");
			}
		});
		
		//run the price updater once page loads to reset it to what we need it to be				
		updateInlinePrice_{{product.id}}();		
				
	})//end document ready

		

	/** set variant mapping for the case in which there is an automatically created duplicate product **/
	var variant_id_to_discount_id_map_{{product.id}} = {};  
	var variant_price_to_discount_price_map_{{product.id}} ={} 
	var discount_variants_array_for_select_{{product.id}}=[]
	
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		var discount_variant_id = '{{ variant.metafields.subscriptions.discount_variant_id }}'
		variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}']='' 
		
		if(discount_variant_id) {
			variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}'] = {"discount_variant_id":discount_variant_id};
			discount_variants_array_for_select_{{product.id}}.push(discount_variant_id)
		}
		
		var discount_variant_price = '{{ variant.metafields.subscriptions.discount_variant_price }}'
		variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}']=''
		
		if(discount_variant_price) {
			variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}'] = { "discount_variant_price": discount_variant_price } 
		}

{%endunless%}
{%endunless%}
	{% endfor %}
	
	//map original prices for updated price calculations
	variant_id_to_price_map_{{product.id}}={}
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		variant_id_to_price_map_{{product.id}}['{{variant.id}}'] = "{{variant.price}}"

{%endunless%}
{%endunless%}
	{% endfor %}

}//end if (subscription_on==true) section
	
</script> 


