{% layout 'theme.bootstrap.landing-page' %}

{{ 'love-collection.css' | asset_url | stylesheet_tag }}

<link href="https://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />

<div id="glass">
  
  <div style="background:#ff7f7f;color:black;padding:20px;text-align:center;">
    <p style="font-weight:700;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> This offer is sold out. Thank you to everyone who ordered. Happy Halloween!</p>
  </div>
  
  
  <div class="header-logo" style="border:none;padding-top:40px;background:black;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img style="height:80px;max-width:none;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/dfw_logo_silhouette-white.png?6757622883716266657" >
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
        </div>
      </div>
  </div>



  <div id="" style="background:black;">
    <div class="container" style="padding-bottom:10px;padding-top:30px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h1 style="padding:15px 0px 5px 0px;font-size:50px;color:white;">The Halloween Selection</h1>
            <h3 style="font-size:27px;color:white;font-family:'brandon_regular' !important;">Bold, Fall Natural Wines - Orange Wine Included!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  
<img style="background:black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181015_181047_Still_Life_Edit_2_00001_Halloween_StillLifeEdit2_1.jpg?16813096483266540254" />

<div class="main-product-section" style="background:black; padding-top:0px;margin-top:-3px;">
  <div class="container" style="padding-top:30px;background:black">
    <div class="row">
        <div class="text-center" style="border-bottom:1px solid #ccc;">
          <h1 style="padding:50px 0px 50px 0px;font-size:40px;color:white;">Imported from Europe, Lab Tested for Purity</h1>
        </div>
    </div>
  </div>
</div>
  
   <div class="main-product-section" id="main-product-id" style="background:black; padding-top:0px;">
    <div class="container" style="padding-top:0px;">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
          {% assign product = all_products['the-halloween-selection'] %}
          <img style="width:600px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181016_042009_Bottle_Shots_00001_Halloween_BottleShots_1.jpg?16813096483266540254"/>
          <br /><br />
          <div class="main-product">
            {% assign collection_handles = product.collections | map: 'handle' %}
            {% assign variant = product.selected_or_first_available_variant  %}
            
            <p style="font-family: 'brandon_regular'; font-size: 35px; margin-bottom:10px;color:white;">The Halloween Selection</p>
            <p style="font-family: 'brandon_regular'; font-size: 22px; margin-bottom:50px;color:white;">2 Reds, 1 White, 1 ORANGE (4 bottles)*</p>            
                        
            <p style="font-family: 'brandon_regular_italic'; font-size: 16px; margin-bottom:50px;color:white;"> *This photo is meant for artistic purposes only. The bottles you receive may vary.</p>            
          </div>
          <br /><br />
        </div>

      </div>
    </div>
  </div>



  <div class="glass-quote" style="margin-bottom:-2px; background:#921c1c;">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p> 
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <span class="quote-body" style="color:white;">I can't imagine getting my wine from any place else.</span>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </p>
          <p class="quote-author" style="color:white;" >- Shannon, Happy Member</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="main-product-section" id="" style="background:black; padding-bottom:20px;padding-top:50px;">
    <div class="container" style="padding-top:0px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
          <img style="width:600px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181016_042455_Raw_00005_Halloween_BottleShots__1.jpg?6455062317995165421"/>
          <h1 style="padding:50px 0px 0px 0px;font-size:39px;color:white;">What is in the Box?</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
          <div class="text-center;" style="color:white;">       
			<p style="margin-bottom:20px;font-size:24px;">The Halloween Selection is a special assortment of Fall-inspired wines with a richer profile. The experience includes 2 reds, 1 white, and 1 orange. The body of these wines are bolder and intentionally selected to fit the season. And, every box includes a rare Natural Orange Wine!</p>
            <h1 style="padding:50px 0px 0px 0px;font-size:39px;color:white;">What is Orange Wine?</h1>
            <p style="margin-bottom:20px;font-size:24px;">Orange wine is a Natural Wine phenomenon. Made from white wine grapes, orange wine is produced when juice from white wine grapes soaks with the grape skins for some time. This gives the wine an overall amber color and very beautiful, aromatic complexity.</p>
            <p style="margin-bottom:20px;font-size:24px;">Orange wine is a rare, delicate experience. It is almost impossible to find commercially because it is not well known. Join us in this special treat!</p>   
          </div>
          <br /><br />
        </div>

      </div>
           <div class="text-center glass-harmony-cta">
      <a href="#main-product-id" class="action_button" style="padding:15px 30px;margin:20px 0px;background:#921c1c;">Taste our Halloween Wines</a>
    </div> 
    </div>
     
  </div> 
  
  
    <div class="main-product-section" id="" style="background:black; padding-bottom:20px;padding-top:50px;">
    <div class="container" style="padding-top:0px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
          <img style="width:600px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181015_183629_Edit_BTS_00006_Halloween_BTS_Promoshots__1.jpg?15678654388809250266"/>
        </div>
      </div>
    </div>
     
  </div> 
  
  
<div class="main-product-section" style="background:black; padding-top:0px;margin-top:-3px;">
  <div class="container" style="padding-top:30px;background:black">
    <div class="row">
        <div class="text-center">
          <h1 style="padding:50px 0px 30px 0px;font-size:40px;color:white;">Our Modern Still Life</h1>
          <h3 style="font-size:27px;color:white;font-family:'brandon_regular' !important;">A behind-the-scenes look at how we made our Halloween still life </h3>
          <div class="vid-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/2b1asoVHLpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
  
  <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">Meet a Natural Wine Grower</h1>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <img style="max-height:600px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180612124523_DSCF6262_YannikRohrer_Fujifilm_X-H1_XF16-55mmF2.8_R_LM_WR_24_mm_0._Organize_ClausPreisenger_0239_MIRROR_Edit_Color_ClausPreisenger_Austria_0001_1_7f997961-7d5d-4b4d-aef4-80f026c9171b.jpg?6244948998395886204" >
          </div>
          <div class="col-xs-12 col-sm-4">
			<p style="margin-bottom:20px;font-size:24px;">Claus Preisinger is one of the most accomplished biodynamic wine growers in the world. A pioneer of Austrian Natural Wine, Claus originally studied commercial winemaking in California, but quickly developed a distaste for its lack of respect for Nature. He soon started his own vineyard in Austria, committing to intense organic and biodynamic practices.</p>
          </div>
        </div>

      <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          	<p style="margin-bottom:15px;font-size:24px;">At heart, Claus is a farmer. He lives in the soil and is obsessive about his Natural lifestyle. With a rebellious spirit, he bucks every trend in modern winemaking: avoids commercial machinery, shuns shortcuts in his cellar, uses only native yeasts, works with his hands everyday, and perhaps most importantly, expresses his authentic personality in everything he does.</p>
            <h1 style="margin-bottom:15px;font-size:24px;">We support Claus and all of our natural family farmers who respect Nature's health in the soil and our health in their wines!</h1>
        </div>
        </div>
      
    </div>
  </div>
  
    <div class="main-product-section" style="background:white; padding-top:0px;margin-top:-3px;">
  <div class="container" style="padding-top:25px;">
    <div class="row">
        <div class="text-center">
                      <h1 style="padding:50px 0px 30px 0px;font-size:40px;">CLAUS TALKS ABOUT HIS PHILOSOPHY</h1>
          <div class="vid-container">
			<iframe width="500" height="315" src="https://www.youtube.com/embed/SujQ6nqcIQw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
  
  
   <div class="container">
    
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="col-sm-4 col-sm-offset-4">
        <img style="margin-top:10px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/17DFW_BottleStickers_v6b.jpg?15990469087838344296" >
      </div>
        <div class="text-center">
          <h1 style="padding:10px 0px 0px 0px;font-size:39px;">A Healthier Way to Drink</h1>
        </div>
      </div>
    </div>

      
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10">
<!--                   <h2>Committed to REAL Wine</h2> -->
              <div class="commited-intro">
                We curate only the highest quality natural wines from small, organic family farms that meet our strict standard of health. 
                <br>
                <br>
                This is real wine; nothing added, nothing removed.
                </div>

              <ul class="commited-list">
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Sugar-Free (< 1g/L)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Sulfites (< 75ppm)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Alcohol (< 12.5%)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mycotoxin/Mold-Free</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">No Additives</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Dry Farmed (No Irrigation)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Organic or Biodynamic</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Old Vines (up to 100 yrs)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Hand Harvested</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Wild Native Yeast</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Small Batch Productions</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Paleo-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Keto-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Carb-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mouthwateringly Delicious</li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
      </div>

    </div>
        
    <div id="endorsed" class="endorsed">
      <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="endorsed-title">Health Leaders Who Love Our Wines</h2>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Mark Sisson, Primal Blueprint</div>
                          <blockquote>The perfect paleo wine, I’m a believer.</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Dave Asprey, Bulletproof</div>
                          <blockquote>Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/abel.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Abel James</div>
                          <blockquote>Rejoice, you can drink your wine and have your health too!</blockquote>
                        </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?3869447806782600386">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">JJ Virgin</div>
                          <blockquote>Take great care of your body and your palate with Dry Farm Wines!</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/robb.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Robb Wolf</div>
                          <blockquote>If you enjoy wine but are not jazzed about the negative side effects, these wines are for you.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/camille.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Camille Macres</div>
                          <blockquote>I woke up with a clear head! That was enough for me to be a believer!</blockquote>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/wellness_mama_large.jpeg">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Katie, Wellness Mama</div>
                          <blockquote>I was amazed at the difference in the taste!</blockquote>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/ZAGuPsyr.jpg?9588798804005031646">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Drew Manning</div>
                          <blockquote>Dry Farm Wines has done the impossible and now people can enjoy their wine and stay in ketosis.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/chriskresser-1-e1460137781843.jpg?10829125403142122348">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Chris Kresser</div>
                          <blockquote>Great taste and, even better, feel great the next morning.</blockquote>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>	
    
     
     
    <div class="text-center glass-harmony-cta">
      <a href="#main-product-id" class="action_button" style="padding:15px 50px;margin:50px 0px;background:#921c1c;">Collect Fall Wines for Halloween </a>
    </div> 
</div>

  <div class="glass-quote" style="margin-bottom:-2px; background:grey;">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p> 
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <span class="quote-body" style="color:white;">This wine is clean, crisp, and very satisfying. Keep up the good work.</span>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </p>
          <p class="quote-author" style="color:white;" >- Steve, Happy Member</p>
        </div>
      </div>
    </div>
  </div>
  
  
   <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">Our Modern Still Life Project</h1>  
        </div>
        </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:350px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180622014121_2018-06-22__01-41-21_YannikRohrer_Fujifilm_X-T2_58_mm__XT25710_0079__DryfFarmWines_YannikRohrer_Fujifilm_X-T2_XF16-55mmF2.8_R_LM_WR_58_mm_Photo_0001_Edit_DFW_StillLife_Promotion_July4_E.jpg?12983656667954363770" >
          </div>
          <div class="col-xs-12 col-sm-5">
           <h1 style="font-size:24px;margin-top:20px;">Our July 4th Collection </h1>
            <p style="margin-bottom:20px;">The beautiful, simple elements of Americana inspire us in this still life. Picnic wares, blooming florals, a straw hat, and of course the American flag puncture a vibrant display of the USA. </p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180622014121_2018-06-22__01-41-21_YannikRohrer_Fujifilm_X-T2_58_mm__XT25710_0079__DryfFarmWines_YannikRohrer_Fujifilm_X-T2_XF16-55mmF2.8_R_LM_WR_58_mm_Photo_0001_Edit_DFW_StillLife_Promotion_July4_E.jpg?12983656667954363770"> is here</a>. And, <a href="https://www.youtube.com/embed/RNvgREfMvQE">watch this video</a> to see how it came together.</p>

          </div>
       </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:350px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180713_021353_20180713_021353_XT27835_www.YannikRohrer.com__2300_TL_2_PrimaryCameraExport_-_Edit_StillLife_SummerSparkling_2.5MB_12MP_Alternative_0018.jpg?9308651707064891801" >
          </div>
          <div class="col-xs-12 col-sm-5">
           <h1 style="font-size:24px;margin-top:20px;">Our Summer Sparkling Collection </h1>
            <p style="margin-bottom:20px;">A pyramid of champagne coupes filled to the brim with bubbly expresses the elegance and grandeur of our sparkling wines. And don't forget the quartz blocks, glass elements, and florals - they add a rounded, polished feel to the piece.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/20180713_021353_20180713_021353_XT27835_www.YannikRohrer.com__2300_TL_2_PrimaryCameraExport_-_Edit_StillLife_SummerSparkling_2.5MB_12MP_Alternative_0018.jpg?9308651707064891801"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>

          </div>
      </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:350px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018-07-20__01-37-58_YannikRohrer_Fujifilm_X-T2_53_mm__XT27982_0044__DFW_Promotion_StillLife_PinotPack_Export-Edit_12MP-2MB_1.jpg?15860216602985633031" >
          </div>
          <div class="col-xs-12 col-sm-5">
           <h1 style="font-size:24px;margin-top:20px;">Our Pinot Pack</h1>
            <p style="margin-bottom:20px;">Hints of delicate red florals cast a bright accent on mineral, rocky formations. With Pineau - our company French Bulldog - the still life exudes a balance of power and vibrant life.</p>
            <p style="margin-bottom:20px;">Your complimentary copy <a href="https://cdn.shopify.com/s/files/1/0924/9540/files/2018-07-20__01-37-58_YannikRohrer_Fujifilm_X-T2_53_mm__XT27982_0044__DFW_Promotion_StillLife_PinotPack_Export-Edit_12MP-2MB_1.jpg?15860216602985633031"> is here</a>. And, <a href="https://www.youtube.com/embed/SEFtpKrS1Qo">watch this video</a> to see how it came together.</p>

          </div>
      </div> 
         
         <div class="col-xs-12 text-center glass-harmony-cta">
        	<a href="https://www.dryfarmwines.com/pages/the-still-life-gallery" class="action_button" style="padding:20px 50px;margin:50px 0px;">View the Full Still Life Gallery</a>
      	</div>
      
    </div>
  </div>

</div>


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
  
  
  
  
</script>


  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  



<script>
	/**BEGIN JAVASCRIPT **/
  /** COPIED FROM SUBSCRIPTION-PRODUCT.LIQUID **/
if (subscription_on==true) {

    window.currency_symbol='$'
    window.currency_suffix=''
    
    discount_percentage_metafield_value = {{ product.metafields.subscriptions.discount_percentage | floor }} 
    has_discount_{{product.id}} = false
    if(discount_percentage_metafield_value > 0) {
		has_discount_{{product.id}} = true 
	}
	
	/* for changing background color when a selection is clicked */
	rjQuery('body').on('click','.autodeliver.{{product.id}}',function() {
		rjQuery('.radio_option.{{product.id}}').removeClass('active')
		rjQuery(this).parent().parent().addClass('active')

		if( rjQuery(this).val()=='autodeliver' ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active')
			rjQuery('#single_purchase_{{product.id}}').removeClass('active')
		} else if( rjQuery(this).val()=='onetime' ) {
			rjQuery('#recurring_purchase_{{product.id}}').removeClass('active')
			rjQuery('#single_purchase_{{product.id}}').addClass('active')
		}

		if(has_discount_{{product.id}} == true) {
			updatePrice_{{product.id}}("UPDATE - Change radio");    
		}
	})
	
	 //HANDLE THE ADDING TO CART
	rjQuery( document ).ready(function() {
		// CREATE DUPLICATE SELECT WITH OPTIONS
      	var myDiv = rjQuery('form[data-productid="{{product.id}}"]');
		var discount_prices = discount_variants_array_for_select_{{product.id}}; //discount price options
		//Create and append select list
		var discount_select_menu_html = rjQuery("<select id='discount-select-{{product.id}}'></select>"); 
		myDiv.append(discount_select_menu_html);
		for (var i = 0; i < discount_prices.length; i++) {
			var option = rjQuery('<option></option>').val(discount_prices[i]).html(discount_prices[i])
			discount_select_menu_html.append(option);
		}

        // ADD IDENTIFIERS TO ORIGINAL AND DUPLICATE SELECT        
        var discount_select_{{product.id}} = rjQuery("#discount-select-{{product.id}}")
        discount_select_{{product.id}}.hide();  
        
        var original_select_{{product.id}} = rjQuery('[name="id"][data-productid="{{product.id}}"]')
		original_select_{{product.id}}.addClass('original_select_{{product.id}}')
        // Set value of discount select on page load
        var original_select_menu_value = original_select_{{product.id}}.val();
		var discount_value_of_originally_selected_menu_value = variant_id_to_discount_id_map_{{product.id}}[original_select_menu_value]['discount_variant_id'];
		discount_select_{{product.id}}.val(discount_value_of_originally_selected_menu_value);	

        // using a timeout to wait for shopify to load select elements via javascript
        setTimeout(function(){
        	
        	// INITIALIZE LISTENER FOR WHEN VARIANT DROPDOWN IS CHANGED 
			rjQuery('form[data-productid="{{product.id}}"] .single-option-selector').change(function(){
				
				setTimeout(function(){
					var original_product_value = original_select_{{product.id}}.val();	
					discount_select_{{product.id}}.val(variant_id_to_discount_id_map_{{product.id}}[original_product_value]['discount_variant_id']);	
					
					updatePrice_{{product.id}}();
				}, 400);
				
			})

            // LISTENER FOR WHEN RADIO OPTION FOR ONE-TIME/RECURRING IS CHECKED                
            rjQuery(".autodeliver.{{product.id}}").change(function(){				
				/*IF AUTODELIVER IS SELECTED, WE SET OUR SELECT to name=id and take that attribute off the original select*/	
				if(rjQuery(this).val() == 'autodeliver'){
					// set duplicate select to be submitted 
					original_select_{{product.id}}.attr('name','')
					discount_select_{{product.id}}.attr('name','id')
					//set shipping interval + subscription id attributes to be submitted when form is submitted
					rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
					rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
					rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');

				}
              else if (rjQuery(this).val() == 'onetime') {
                  // set original select to be submitted
                  original_select_{{product.id}}.attr('name','id')
                  discount_select_{{product.id}}.attr('name','')
                  
                  // remove shipping interval + subscription id from form submission since we're not subscription
                  rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','');
                  rjQuery("#subscription_id_{{product.id}}").attr('name','');
				  rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','');
              }
            });
        }, 300); // end setTimeout / initialization of select menu listeners

        // IF SUBSCRIPTION ONLY, preset the subscription inputs
        {% if subscription_only == 'true' %}
			// set duplicate select to be submitted
			original_select_{{product.id}}.attr('name','')
			discount_select_{{product.id}}.attr('name','id')
			
			// set shipping interval + subscription id to be submitted
			rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
			rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
            rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');              
			
        {% endif %}
      });
 
 
	/*** THIS PERFORMS PRICE UPDATE of primary price text above options***/
	function updatePrice_{{product.id}}(debugging_text) {
		var price_selectors = '.current_price, #productPrice, .product-price, .price, #price-preview, .actual-price'
		
		//check for quickbuy and adjust selectors if needed
		if ( rjQuery(price_selectors).size() > 1 ) {
			var has_quickbuy = true
			//the quickbuy price selectors
			price_selectors += ', .current_price.{{product.id}}, #productPrice.{{product.id}}, .product-price.{{product.id}}, .price.{{product.id}}, #price-preview.{{product.id}}'
		}
		
		rjQuery(price_selectors).html(''); //blank out the current price
		var variant_id = rjQuery('.original_select_{{product.id}}').val()      
		var quantity = rjQuery('form[data-productid="{{product.id}}"] [name="quantity"]').val()
	  
		if(typeof quantity === 'undefined'){
			//some sites don't define quantity in the form so we need this as a backup
			quantity = 1;
		}
		
		variant_price_{{product.id}} = (variant_id_to_price_map_{{product.id}}[variant_id] / 100) 
		
		//if recurring is on, set 
		if( rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true && variant_id_to_discount_id_map_{{product.id}}[variant_id]['discount_variant_id'] !='') {
			variant_price_{{product.id}} = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
		} 

		variant_price_{{product.id}} = parseFloat(variant_price_{{product.id}}).toFixed(2)
		var displayed_price = parseFloat(quantity * variant_price_{{product.id}}).toFixed(2)
		var price_string = currency_symbol+' '+displayed_price + currency_suffix
	  
		if(window.first_time_{{product.id}}){
			rjQuery(price_selectors).html(price_string)
		}
		window.first_time_{{product.id}} = true;
		updateInlinePrice_{{product.id}}()
	}

	// This function updates the inline prices (next to radio buttons) 
	function updateInlinePrice_{{product.id}}() {
		var variant_id = rjQuery('.original_select_{{product.id}}').val();
		var price_one_time = (variant_id_to_price_map_{{product.id}}[variant_id] / 100);
		price_one_time = parseFloat(price_one_time).toFixed(2);
        
        var price_recurring = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
        price_recurring = parseFloat(price_recurring).toFixed(2);

		rjQuery('#one-time-price_{{product.id}}').text(" "+currency_symbol+ price_one_time + currency_suffix);
		rjQuery('#recurring-time-price_{{product.id}}').text(" "+currency_symbol + price_recurring + currency_suffix);
	}
	
	/** PRICE RELATED DOCUMENT READY **/
	rjQuery(document).ready(function(){
		
		/** make sure correct option has grey border **/
		window.lock_{{product.id}} = false;
		window.first_time_{{product.id}} = true;
		if(rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active');
		} else {
			rjQuery('#single_purchase_{{product.id}}').addClass('active');
		}
		if(has_discount_{{product.id}} == true) {
			setTimeout(function(){ updatePrice_{{product.id}}("") }, 200);
		}
		
		
		//if something modifies the price, we notice it and then change it back. but we use a timeout function to avoid an infinite loop
		rjQuery('.current_price, #productPrice, .product-price, .price, #price-preview').bind("DOMSubtreeModified",function(){      
			if( window.lock_{{product.id}} == false ) {
				window.lock_{{product.id}} = true;
				if(has_discount_{{product.id}} == true) {
					updatePrice_{{product.id}}("UPDATE - DOMSubtreeModified");
				}
				setTimeout(function(){window.lock_{{product.id}}=false}, 200);
			}
		});
		
		//handle change in quantity
		rjQuery('#quantity').on("change",function(){
			if(has_discount_{{product.id}} == true) {
				updatePrice_{{product.id}}("UPDATE - Qty change on");
			}
		});
		
		//run the price updater once page loads to reset it to what we need it to be				
		updateInlinePrice_{{product.id}}();		
				
	})//end document ready

		

	/** set variant mapping for the case in which there is an automatically created duplicate product **/
	var variant_id_to_discount_id_map_{{product.id}} = {};  
	var variant_price_to_discount_price_map_{{product.id}} ={} 
	var discount_variants_array_for_select_{{product.id}}=[]
	
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		var discount_variant_id = '{{ variant.metafields.subscriptions.discount_variant_id }}'
		variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}']='' 
		
		if(discount_variant_id) {
			variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}'] = {"discount_variant_id":discount_variant_id};
			discount_variants_array_for_select_{{product.id}}.push(discount_variant_id)
		}
		
		var discount_variant_price = '{{ variant.metafields.subscriptions.discount_variant_price }}'
		variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}']=''
		
		if(discount_variant_price) {
			variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}'] = { "discount_variant_price": discount_variant_price } 
		}

{%endunless%}
{%endunless%}
	{% endfor %}
	
	//map original prices for updated price calculations
	variant_id_to_price_map_{{product.id}}={}
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		variant_id_to_price_map_{{product.id}}['{{variant.id}}'] = "{{variant.price}}"

{%endunless%}
{%endunless%}
	{% endfor %}

}//end if (subscription_on==true) section
	
</script> 


