{% layout 'theme.bootstrap.landing-page' %}

<link href="https://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />

<div id="glass">
  
  <div class="header-logo" style="border:none;padding-top:40px;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/logo-no-text.png?5650425483688270857" >
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
        </div>
      </div>
  </div>



  <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:0px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <p>Dry Farm Wines</p>
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">The Glass Collection</h1>
          </div>
          <p>The design and composition of your wine glass affect how you experience a wine. The perfect glass brings these two elements together in harmony.</p>
          <br />
          <p>The beautiful glass we use to enjoy our wines is the <span class="bold">Riedel Veritas New World Restaurant Edition</span>. <span class="italic">This is a professional edition not available to the public.</span> </p>
          <br />
          <p>The style is thin and light so it’s a pleasure to swirl. It’s hand blown from pure crystal to carry any temperature with precision. The body is elegant and full, allowing the wine to express its complete aromatics. </p>
          <br />
          <p>We’re offering the glass in pairs (2 glasses) and quartets (4 glasses). Our private offering of this professional edition glass is only available to our Members and friends through this email.</p>
          <br />
          <p>Shipping is complimentary and every order is protected by our Happiness Guarantee.</p>

        </div>
      </div>
    </div>
  </div>


  <div class="main-product-section" id="main-product-id" style="background:white; padding-top:0px;">
    <div class="container" style="padding-top:0px;">


      <div class="row" style="margin-left:-70px;margin-right:20px;">
        <div class="col-md-5 col-md-offset-1 col-sm-12 text-center">
          {% assign product = all_products['the-dfw-glass-reidel-veritas-new-world-pinot-noir'] %}
          <img style="" src="https://cdn.shopify.com/s/files/1/0924/9540/files/glass-pair_1.png?5361829833847189684" />
          <br /><br />
          <div class="main-product">
            {% assign collection_handles = product.collections | map: 'handle' %}
            {% assign variant = product.selected_or_first_available_variant  %}
            {% if product.description != blank %}
               <div class="description text-left" itemprop="description">
                 {{ product.description | split: '<!-- split -->' | first }}
               </div>
            {% endif %}
            <h2>Sales are temporarily closed.</h2>
            <p> But don't worry, there will be more special offers like this soon. In the meantime, if you want to drink healthier wine, order <a href="/products/wine-membership">here</a>!</p>

          </div>
          <br /><br />
        </div>

        <div class="col-md-5 col-sm-12 text-center">
          {% assign product = all_products['the-dfw-glass-quartet'] %}
          <img style="" src="https://cdn.shopify.com/s/files/1/0924/9540/files/glass-quartet_1.png?5361829833847189684" />
          <br /><br />
          <div class="main-product">
            {% assign collection_handles = product.collections | map: 'handle' %}
            {% assign variant = product.selected_or_first_available_variant %}
            {% if product.description != blank %}
               <div class="description text-left" itemprop="description">
                 {{ product.description | split: '<!-- split -->' | first }}
               </div>
            {% endif %}




          </div>
          <br /><br />
        </div>


      </div>
    </div>
  </div>


  <div class="glass-quote">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p> 
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <span class="quote-body"> This Austrian clan of master Riedel glassmakers has done more to enhance the oenophile’s pleasure than almost any winemaking dynasty.</span>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </p>
          <p class="quote-author">- <a href="http://content.time.com/time/magazine/article/0,9171,1738057,00.html">Time Magazine</a></p>
        </div>
      </div>
    </div>
  </div>



  <div class="riedel-benefits">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-xs-12 ">
              <h3 class="text-center">Architecture</h3>
              <p>Glass design consists of three elements: bowl, stem, and base. In a perfect glass, the size and weight of these three elements exist in a harmonious ratio so the glass is balanced in your hand.</p>
              <br />
              <p>A wider, fuller bowl lets us get immersed in the wine’s aromatics. A thinner stem makes holding and swirling the glass a pleasure. And, a wider base is sturdy and easy to set down. </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-xs-12 ">
              <h3 class="text-center">Bouquet</h3>
              <p>Each grape varietal carries a specific taste profile in its genetic DNA. A glass is responsible for how you perceive this.</p>
              <br />
              <p>It delivers the intensity of the bouquet with honesty. It showcases the unique mouthfeel of each diverse wine style. It presents a focused vision of how the fruit, mineral, acid, and earth play with each other in the glass. And, it rounds off the finish with grace.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-xs-12 ">
              <h3 class="text-center">Experience</h3>
              <p>When you enjoy a wine in this Veritas glass, fill only one quarter of the glass with liquid. This leaves “headspace” for the wine to breathe and for you to experience its perfume.</p>
              <br />
              <p>Before you sip, swirl the wine in the glass to coat the sides. Your senses will get the full bouquet from the glass’s unique architecture. The shape coaxes the aromatics to the center of the crystal bowl, which then lifts them to your nose through a narrow edge.</p>
              <br />
              <p>As you sip, notice the thin, light stem and enjoy the crystal finish and curved design of the lip. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="why-riedel">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <h3>Why Riedel?</h3>
          <p>Riedel has been hand blowing premium wine glasses since 1756. They’re currently in their 11th generation, using old glassmaking traditions to handcraft their premium line. We love Riedel because every glass is 100% pure crystal construction.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row vertical-align">
      <div class="col-sm-5 col-sm-offset-1">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/glass-harmony.png?18254600975549590997">
      </div>

      <div class="col-sm-5 text-center glass-harmony-cta">
        <h1>Harmony, in a glass.</h1>
        <a href="#main-product-id" class="action_button"> Upgrade Your Stemware </a>
      </div>
      <br /><br />
    </div>
  </div>

</div>

  


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
  
  
  
  
</script>


  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  



<script>
	/**BEGIN JAVASCRIPT **/
  /** COPIED FROM SUBSCRIPTION-PRODUCT.LIQUID **/
if (subscription_on==true) {

    window.currency_symbol='$'
    window.currency_suffix=''
    
    discount_percentage_metafield_value = {{ product.metafields.subscriptions.discount_percentage | floor }} 
    has_discount_{{product.id}} = false
    if(discount_percentage_metafield_value > 0) {
		has_discount_{{product.id}} = true 
	}
	
	/* for changing background color when a selection is clicked */
	rjQuery('body').on('click','.autodeliver.{{product.id}}',function() {
		rjQuery('.radio_option.{{product.id}}').removeClass('active')
		rjQuery(this).parent().parent().addClass('active')

		if( rjQuery(this).val()=='autodeliver' ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active')
			rjQuery('#single_purchase_{{product.id}}').removeClass('active')
		} else if( rjQuery(this).val()=='onetime' ) {
			rjQuery('#recurring_purchase_{{product.id}}').removeClass('active')
			rjQuery('#single_purchase_{{product.id}}').addClass('active')
		}

		if(has_discount_{{product.id}} == true) {
			updatePrice_{{product.id}}("UPDATE - Change radio");    
		}
	})
	
	 //HANDLE THE ADDING TO CART
	rjQuery( document ).ready(function() {
		// CREATE DUPLICATE SELECT WITH OPTIONS
      	var myDiv = rjQuery('form[data-productid="{{product.id}}"]');
		var discount_prices = discount_variants_array_for_select_{{product.id}}; //discount price options
		//Create and append select list
		var discount_select_menu_html = rjQuery("<select id='discount-select-{{product.id}}'></select>"); 
		myDiv.append(discount_select_menu_html);
		for (var i = 0; i < discount_prices.length; i++) {
			var option = rjQuery('<option></option>').val(discount_prices[i]).html(discount_prices[i])
			discount_select_menu_html.append(option);
		}

        // ADD IDENTIFIERS TO ORIGINAL AND DUPLICATE SELECT        
        var discount_select_{{product.id}} = rjQuery("#discount-select-{{product.id}}")
        discount_select_{{product.id}}.hide();  
        
        var original_select_{{product.id}} = rjQuery('[name="id"][data-productid="{{product.id}}"]')
		original_select_{{product.id}}.addClass('original_select_{{product.id}}')
        // Set value of discount select on page load
        var original_select_menu_value = original_select_{{product.id}}.val();
		var discount_value_of_originally_selected_menu_value = variant_id_to_discount_id_map_{{product.id}}[original_select_menu_value]['discount_variant_id'];
		discount_select_{{product.id}}.val(discount_value_of_originally_selected_menu_value);	

        // using a timeout to wait for shopify to load select elements via javascript
        setTimeout(function(){
        	
        	// INITIALIZE LISTENER FOR WHEN VARIANT DROPDOWN IS CHANGED 
			rjQuery('form[data-productid="{{product.id}}"] .single-option-selector').change(function(){
				
				setTimeout(function(){
					var original_product_value = original_select_{{product.id}}.val();	
					discount_select_{{product.id}}.val(variant_id_to_discount_id_map_{{product.id}}[original_product_value]['discount_variant_id']);	
					
					updatePrice_{{product.id}}();
				}, 400);
				
			})

            // LISTENER FOR WHEN RADIO OPTION FOR ONE-TIME/RECURRING IS CHECKED                
            rjQuery(".autodeliver.{{product.id}}").change(function(){				
				/*IF AUTODELIVER IS SELECTED, WE SET OUR SELECT to name=id and take that attribute off the original select*/	
				if(rjQuery(this).val() == 'autodeliver'){
					// set duplicate select to be submitted 
					original_select_{{product.id}}.attr('name','')
					discount_select_{{product.id}}.attr('name','id')
					//set shipping interval + subscription id attributes to be submitted when form is submitted
					rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
					rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
					rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');

				}
              else if (rjQuery(this).val() == 'onetime') {
                  // set original select to be submitted
                  original_select_{{product.id}}.attr('name','id')
                  discount_select_{{product.id}}.attr('name','')
                  
                  // remove shipping interval + subscription id from form submission since we're not subscription
                  rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','');
                  rjQuery("#subscription_id_{{product.id}}").attr('name','');
				  rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','');
              }
            });
        }, 300); // end setTimeout / initialization of select menu listeners

        // IF SUBSCRIPTION ONLY, preset the subscription inputs
        {% if subscription_only == 'true' %}
			// set duplicate select to be submitted
			original_select_{{product.id}}.attr('name','')
			discount_select_{{product.id}}.attr('name','id')
			
			// set shipping interval + subscription id to be submitted
			rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
			rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
            rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');              
			
        {% endif %}
      });
 
 
	/*** THIS PERFORMS PRICE UPDATE of primary price text above options***/
	function updatePrice_{{product.id}}(debugging_text) {
		var price_selectors = '.current_price, #productPrice, .product-price, .price, #price-preview, .actual-price'
		
		//check for quickbuy and adjust selectors if needed
		if ( rjQuery(price_selectors).size() > 1 ) {
			var has_quickbuy = true
			//the quickbuy price selectors
			price_selectors += ', .current_price.{{product.id}}, #productPrice.{{product.id}}, .product-price.{{product.id}}, .price.{{product.id}}, #price-preview.{{product.id}}'
		}
		
		rjQuery(price_selectors).html(''); //blank out the current price
		var variant_id = rjQuery('.original_select_{{product.id}}').val()      
		var quantity = rjQuery('form[data-productid="{{product.id}}"] [name="quantity"]').val()
	  
		if(typeof quantity === 'undefined'){
			//some sites don't define quantity in the form so we need this as a backup
			quantity = 1;
		}
		
		variant_price_{{product.id}} = (variant_id_to_price_map_{{product.id}}[variant_id] / 100) 
		
		//if recurring is on, set 
		if( rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true && variant_id_to_discount_id_map_{{product.id}}[variant_id]['discount_variant_id'] !='') {
			variant_price_{{product.id}} = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
		} 

		variant_price_{{product.id}} = parseFloat(variant_price_{{product.id}}).toFixed(2)
		var displayed_price = parseFloat(quantity * variant_price_{{product.id}}).toFixed(2)
		var price_string = currency_symbol+' '+displayed_price + currency_suffix
	  
		if(window.first_time_{{product.id}}){
			rjQuery(price_selectors).html(price_string)
		}
		window.first_time_{{product.id}} = true;
		updateInlinePrice_{{product.id}}()
	}

	// This function updates the inline prices (next to radio buttons) 
	function updateInlinePrice_{{product.id}}() {
		var variant_id = rjQuery('.original_select_{{product.id}}').val();
		var price_one_time = (variant_id_to_price_map_{{product.id}}[variant_id] / 100);
		price_one_time = parseFloat(price_one_time).toFixed(2);
        
        var price_recurring = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
        price_recurring = parseFloat(price_recurring).toFixed(2);

		rjQuery('#one-time-price_{{product.id}}').text(" "+currency_symbol+ price_one_time + currency_suffix);
		rjQuery('#recurring-time-price_{{product.id}}').text(" "+currency_symbol + price_recurring + currency_suffix);
	}
	
	/** PRICE RELATED DOCUMENT READY **/
	rjQuery(document).ready(function(){
		
		/** make sure correct option has grey border **/
		window.lock_{{product.id}} = false;
		window.first_time_{{product.id}} = true;
		if(rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active');
		} else {
			rjQuery('#single_purchase_{{product.id}}').addClass('active');
		}
		if(has_discount_{{product.id}} == true) {
			setTimeout(function(){ updatePrice_{{product.id}}("") }, 200);
		}
		
		
		//if something modifies the price, we notice it and then change it back. but we use a timeout function to avoid an infinite loop
		rjQuery('.current_price, #productPrice, .product-price, .price, #price-preview').bind("DOMSubtreeModified",function(){      
			if( window.lock_{{product.id}} == false ) {
				window.lock_{{product.id}} = true;
				if(has_discount_{{product.id}} == true) {
					updatePrice_{{product.id}}("UPDATE - DOMSubtreeModified");
				}
				setTimeout(function(){window.lock_{{product.id}}=false}, 200);
			}
		});
		
		//handle change in quantity
		rjQuery('#quantity').on("change",function(){
			if(has_discount_{{product.id}} == true) {
				updatePrice_{{product.id}}("UPDATE - Qty change on");
			}
		});
		
		//run the price updater once page loads to reset it to what we need it to be				
		updateInlinePrice_{{product.id}}();		
				
	})//end document ready

		

	/** set variant mapping for the case in which there is an automatically created duplicate product **/
	var variant_id_to_discount_id_map_{{product.id}} = {};  
	var variant_price_to_discount_price_map_{{product.id}} ={} 
	var discount_variants_array_for_select_{{product.id}}=[]
	
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		var discount_variant_id = '{{ variant.metafields.subscriptions.discount_variant_id }}'
		variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}']='' 
		
		if(discount_variant_id) {
			variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}'] = {"discount_variant_id":discount_variant_id};
			discount_variants_array_for_select_{{product.id}}.push(discount_variant_id)
		}
		
		var discount_variant_price = '{{ variant.metafields.subscriptions.discount_variant_price }}'
		variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}']=''
		
		if(discount_variant_price) {
			variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}'] = { "discount_variant_price": discount_variant_price } 
		}

{%endunless%}
{%endunless%}
	{% endfor %}
	
	//map original prices for updated price calculations
	variant_id_to_price_map_{{product.id}}={}
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		variant_id_to_price_map_{{product.id}}['{{variant.id}}'] = "{{variant.price}}"

{%endunless%}
{%endunless%}
	{% endfor %}

}//end if (subscription_on==true) section
	
</script> 


