{% layout 'theme.bootstrap.landing-page' %}

<link href="https://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />

<div id="glass">
  
  <div class="header-logo" style="border:none;padding-top:40px;">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img style="height:80px;max-width:none;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/logo_09ef8713-23b5-463f-8830-ae307a954484.png?8425110674889817611" >
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
        </div>
      </div>
  </div>



  <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:20px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h1 style="padding:15px 0px 5px 0px;font-size:54px;">Complete Wedding Packages</h1>
            <h3 style="font-size:27px;color:black;font-family:'brandon_regular' !important;">Celebrate Love with Organic, Hangover-Free Wine</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="main-product-section" id="main-product-id" style="background:white; padding-top:0px;">
    <div class="container" style="padding-top:0px;">


      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
          <img style="padding-bottom:25px" src="https://cdn.shopify.com/s/files/1/0924/9540/files/17DFW_WineShop_WeddingGift_v6.png?4749580732477680106" />
        </div>
        
  		 <div class="col-xs-12 text-center">
            <h3 style="padding-top:20px;font-size:30px;color:black;font-family:'brandon_regular_italic' !important;">An Entire Natural Wine Experience, Curated for Your Special Day</h3>
            <h3 style="padding-top:20px;font-size:22px;color:black;font-family:'brandon_regular';">Let us put together a wine journey of reds, whites, sparkling, and rosé that matches your taste and your menu.</h3>
        </div>     

<!--         <div class="col-xs-12 text-center glass-harmony-cta">
        	<a href="https://dryfarmwines.typeform.com/to/Y3eAQZ" class="action_button" style="padding:20px 50px;margin:50px 0px;">Get In Touch</a>
      	</div> -->
        
        

      </div>
    </div>
  </div>
  
<div class="typeform-widget" data-url="https://dryfarmwines.typeform.com/to/IPeAnt" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=IPeAnt&utm_source=typeform.com-9386469-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
      
  
   <div class="glass-quote" style="margin-bottom:-2px">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p> 
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <span class="quote-body">I feel like a kid on Christmas!! No sugar, low sulfites, no additives.... no hangovers!</span>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </p>
          <p class="quote-author">- Dave, Happy Member</p>
        </div>
      </div>
    </div>
  </div>
     
 
      
      <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="col-sm-4 col-sm-offset-4">
          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/17DFW_BottleStickers_v6b.jpg?15990469087838344296" >
        </div>
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">How It Works</h1>
          </div>
        </div>
      </div>
        
      <div class="row text-center" style="margin-bottom:40px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Corporate_Gift_-_icons_8_1.png?5045502299253994713">
          <h1 style="font-size:30px;">Full Wine Service</h1>
          <p>We assemble a complete wine journey, including sparkling wine, rosé, white, and red.</p>
        </div>
        
        <div class="col-sm-5" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/2_d6ec5c6a-d17d-491a-aacd-f52b987b38e8.png?5512436135085987813">
          <h1 style="font-size:30px;">Intentional Food Pairing</h1>
          <p>If you have a caterer and food menu, we tailor the assortment with intention to pair with the cuisine.</p>
        </div>
      </div>
      
      <div class="row text-center" style="margin-bottom:40px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/4.png?5512436135085987813">
          <h1 style="font-size:30px;">Curated, Customized Selection</h1>
          <p>We curate the selection to match your tastes, your guests' tastes, and the festive atmosphere.</p>
        </div>
        
        <div class="col-sm-5" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Corporate_Gift_-_icons_6_1.png?2203758129320688507">
          <h1 style="font-size:30px;">Planning & Coordination</h1>
          <p>We work directly with any wedding planners and event managers to sort out logistics. That includes shipping alcohol, which we completely cover.</p>
        </div>
      </div>
      
       <div class="row text-center" style="margin-bottom:40px;">
        <div class="col-sm-5 col-sm-offset-1" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Corporate_Gift_-_icons_4_1.png?13345943679388273202">
          <h1 style="font-size:30px;">Informational Brochures</h1>
          <p>We provide complimentary signage and informational material to accompany the wines.</p>
        </div>
        
        <div class="col-sm-5" style="margin-bottom:20px;">
          <img style="max-height:300px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Corporate_Gift_-_icons_7.png?12240315554363717027">
          <h1 style="font-size:30px;">Full Happiness Guarantee</h1>
          <p>We guarantee happiness with every bottle. We replace or refund any bottle you don't like. No questions asked.</p>
        </div>
      </div>
      
      
      <div class="text-center glass-harmony-cta">
        <a href="https://dryfarmwines.typeform.com/to/Y3eAQZ" class="action_button" style="padding:20px 50px;margin:50px 0px;">Contact Our Concierge</a>
      </div> 
      
  </div>

   <div class="container">
    
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="col-sm-4 col-sm-offset-4">
        <img style="margin-top:10px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/17DFW_BottleStickers_v6b.jpg?15990469087838344296" >
      </div>
        <div class="text-center">
          <h1 style="padding:10px 0px 0px 0px;font-size:39px;">A Healthier Way to Drink</h1>
        </div>
      </div>
    </div>

      
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10">
<!--                   <h2>Committed to REAL Wine</h2> -->
              <div class="commited-intro">
                We curate only the highest quality natural wines from small, organic family farms that meet our strict standard of health. 
                <br>
                <br>
                This is real wine; nothing added, nothing removed.
                </div>

              <ul class="commited-list">
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Sugar-Free (< 1g/L)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Sulfites (< 75ppm)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Alcohol (< 12.5%)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mycotoxin/Mold-Free</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">No Additives</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Dry Farmed (No Irrigation)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Organic or Biodynamic</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Old Vines (up to 100 yrs)</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Hand Harvested</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Wild Native Yeast</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Small Batch Productions</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Paleo-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Keto-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Carb-Friendly</li>
                  <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mouthwateringly Delicious</li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
      </div>

    </div>
        
    <div id="endorsed" class="endorsed">
      <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="endorsed-title">Health Leaders Who Love Our Wines</h2>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Mark Sisson, Primal Blueprint</div>
                          <blockquote>The perfect paleo wine, I’m a believer.</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Dave Asprey, Bulletproof</div>
                          <blockquote>Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/abel.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Abel James</div>
                          <blockquote>Rejoice, you can drink your wine and have your health too!</blockquote>
                        </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?3869447806782600386">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">JJ Virgin</div>
                          <blockquote>Take great care of your body and your palate with Dry Farm Wines!</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/robb.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Robb Wolf</div>
                          <blockquote>If you enjoy wine but are not jazzed about the negative side effects, these wines are for you.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/camille.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Camille Macres</div>
                          <blockquote>I woke up with a clear head! That was enough for me to be a believer!</blockquote>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/wellness_mama_large.jpeg">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Katie, Wellness Mama</div>
                          <blockquote>I was amazed at the difference in the taste!</blockquote>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/ZAGuPsyr.jpg?9588798804005031646">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Drew Manning</div>
                          <blockquote>Dry Farm Wines has done the impossible and now people can enjoy their wine and stay in ketosis.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/chriskresser-1-e1460137781843.jpg?10829125403142122348">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Chris Kresser</div>
                          <blockquote>Great taste and, even better, feel great the next morning.</blockquote>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>	
     
</div>

  

</div>

  


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
  
  
  
  
  
</script>


  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  



<script>
	/**BEGIN JAVASCRIPT **/
  /** COPIED FROM SUBSCRIPTION-PRODUCT.LIQUID **/
if (subscription_on==true) {

    window.currency_symbol='$'
    window.currency_suffix=''
    
    discount_percentage_metafield_value = {{ product.metafields.subscriptions.discount_percentage | floor }} 
    has_discount_{{product.id}} = false
    if(discount_percentage_metafield_value > 0) {
		has_discount_{{product.id}} = true 
	}
	
	/* for changing background color when a selection is clicked */
	rjQuery('body').on('click','.autodeliver.{{product.id}}',function() {
		rjQuery('.radio_option.{{product.id}}').removeClass('active')
		rjQuery(this).parent().parent().addClass('active')

		if( rjQuery(this).val()=='autodeliver' ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active')
			rjQuery('#single_purchase_{{product.id}}').removeClass('active')
		} else if( rjQuery(this).val()=='onetime' ) {
			rjQuery('#recurring_purchase_{{product.id}}').removeClass('active')
			rjQuery('#single_purchase_{{product.id}}').addClass('active')
		}

		if(has_discount_{{product.id}} == true) {
			updatePrice_{{product.id}}("UPDATE - Change radio");    
		}
	})
	
	 //HANDLE THE ADDING TO CART
	rjQuery( document ).ready(function() {
		// CREATE DUPLICATE SELECT WITH OPTIONS
      	var myDiv = rjQuery('form[data-productid="{{product.id}}"]');
		var discount_prices = discount_variants_array_for_select_{{product.id}}; //discount price options
		//Create and append select list
		var discount_select_menu_html = rjQuery("<select id='discount-select-{{product.id}}'></select>"); 
		myDiv.append(discount_select_menu_html);
		for (var i = 0; i < discount_prices.length; i++) {
			var option = rjQuery('<option></option>').val(discount_prices[i]).html(discount_prices[i])
			discount_select_menu_html.append(option);
		}

        // ADD IDENTIFIERS TO ORIGINAL AND DUPLICATE SELECT        
        var discount_select_{{product.id}} = rjQuery("#discount-select-{{product.id}}")
        discount_select_{{product.id}}.hide();  
        
        var original_select_{{product.id}} = rjQuery('[name="id"][data-productid="{{product.id}}"]')
		original_select_{{product.id}}.addClass('original_select_{{product.id}}')
        // Set value of discount select on page load
        var original_select_menu_value = original_select_{{product.id}}.val();
		var discount_value_of_originally_selected_menu_value = variant_id_to_discount_id_map_{{product.id}}[original_select_menu_value]['discount_variant_id'];
		discount_select_{{product.id}}.val(discount_value_of_originally_selected_menu_value);	

        // using a timeout to wait for shopify to load select elements via javascript
        setTimeout(function(){
        	
        	// INITIALIZE LISTENER FOR WHEN VARIANT DROPDOWN IS CHANGED 
			rjQuery('form[data-productid="{{product.id}}"] .single-option-selector').change(function(){
				
				setTimeout(function(){
					var original_product_value = original_select_{{product.id}}.val();	
					discount_select_{{product.id}}.val(variant_id_to_discount_id_map_{{product.id}}[original_product_value]['discount_variant_id']);	
					
					updatePrice_{{product.id}}();
				}, 400);
				
			})

            // LISTENER FOR WHEN RADIO OPTION FOR ONE-TIME/RECURRING IS CHECKED                
            rjQuery(".autodeliver.{{product.id}}").change(function(){				
				/*IF AUTODELIVER IS SELECTED, WE SET OUR SELECT to name=id and take that attribute off the original select*/	
				if(rjQuery(this).val() == 'autodeliver'){
					// set duplicate select to be submitted 
					original_select_{{product.id}}.attr('name','')
					discount_select_{{product.id}}.attr('name','id')
					//set shipping interval + subscription id attributes to be submitted when form is submitted
					rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
					rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
					rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');

				}
              else if (rjQuery(this).val() == 'onetime') {
                  // set original select to be submitted
                  original_select_{{product.id}}.attr('name','id')
                  discount_select_{{product.id}}.attr('name','')
                  
                  // remove shipping interval + subscription id from form submission since we're not subscription
                  rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','');
                  rjQuery("#subscription_id_{{product.id}}").attr('name','');
				  rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','');
              }
            });
        }, 300); // end setTimeout / initialization of select menu listeners

        // IF SUBSCRIPTION ONLY, preset the subscription inputs
        {% if subscription_only == 'true' %}
			// set duplicate select to be submitted
			original_select_{{product.id}}.attr('name','')
			discount_select_{{product.id}}.attr('name','id')
			
			// set shipping interval + subscription id to be submitted
			rjQuery("#shipping_interval_frequency_{{product.id}}").attr('name','properties[shipping_interval_frequency]');
			rjQuery("#subscription_id_{{product.id}}").attr('name','properties[subscription_id]');
            rjQuery("#shipping_interval_unit_type_{{product.id}}").attr('name','properties[shipping_interval_unit_type]');              
			
        {% endif %}
      });
 
 
	/*** THIS PERFORMS PRICE UPDATE of primary price text above options***/
	function updatePrice_{{product.id}}(debugging_text) {
		var price_selectors = '.current_price, #productPrice, .product-price, .price, #price-preview, .actual-price'
		
		//check for quickbuy and adjust selectors if needed
		if ( rjQuery(price_selectors).size() > 1 ) {
			var has_quickbuy = true
			//the quickbuy price selectors
			price_selectors += ', .current_price.{{product.id}}, #productPrice.{{product.id}}, .product-price.{{product.id}}, .price.{{product.id}}, #price-preview.{{product.id}}'
		}
		
		rjQuery(price_selectors).html(''); //blank out the current price
		var variant_id = rjQuery('.original_select_{{product.id}}').val()      
		var quantity = rjQuery('form[data-productid="{{product.id}}"] [name="quantity"]').val()
	  
		if(typeof quantity === 'undefined'){
			//some sites don't define quantity in the form so we need this as a backup
			quantity = 1;
		}
		
		variant_price_{{product.id}} = (variant_id_to_price_map_{{product.id}}[variant_id] / 100) 
		
		//if recurring is on, set 
		if( rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true && variant_id_to_discount_id_map_{{product.id}}[variant_id]['discount_variant_id'] !='') {
			variant_price_{{product.id}} = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
		} 

		variant_price_{{product.id}} = parseFloat(variant_price_{{product.id}}).toFixed(2)
		var displayed_price = parseFloat(quantity * variant_price_{{product.id}}).toFixed(2)
		var price_string = currency_symbol+' '+displayed_price + currency_suffix
	  
		if(window.first_time_{{product.id}}){
			rjQuery(price_selectors).html(price_string)
		}
		window.first_time_{{product.id}} = true;
		updateInlinePrice_{{product.id}}()
	}

	// This function updates the inline prices (next to radio buttons) 
	function updateInlinePrice_{{product.id}}() {
		var variant_id = rjQuery('.original_select_{{product.id}}').val();
		var price_one_time = (variant_id_to_price_map_{{product.id}}[variant_id] / 100);
		price_one_time = parseFloat(price_one_time).toFixed(2);
        
        var price_recurring = variant_price_to_discount_price_map_{{product.id}}[variant_id]['discount_variant_price']
        price_recurring = parseFloat(price_recurring).toFixed(2);

		rjQuery('#one-time-price_{{product.id}}').text(" "+currency_symbol+ price_one_time + currency_suffix);
		rjQuery('#recurring-time-price_{{product.id}}').text(" "+currency_symbol + price_recurring + currency_suffix);
	}
	
	/** PRICE RELATED DOCUMENT READY **/
	rjQuery(document).ready(function(){
		
		/** make sure correct option has grey border **/
		window.lock_{{product.id}} = false;
		window.first_time_{{product.id}} = true;
		if(rjQuery('#autodeliver_on_radio_{{product.id}}').prop('checked')==true ) {
			rjQuery('#recurring_purchase_{{product.id}}').addClass('active');
		} else {
			rjQuery('#single_purchase_{{product.id}}').addClass('active');
		}
		if(has_discount_{{product.id}} == true) {
			setTimeout(function(){ updatePrice_{{product.id}}("") }, 200);
		}
		
		
		//if something modifies the price, we notice it and then change it back. but we use a timeout function to avoid an infinite loop
		rjQuery('.current_price, #productPrice, .product-price, .price, #price-preview').bind("DOMSubtreeModified",function(){      
			if( window.lock_{{product.id}} == false ) {
				window.lock_{{product.id}} = true;
				if(has_discount_{{product.id}} == true) {
					updatePrice_{{product.id}}("UPDATE - DOMSubtreeModified");
				}
				setTimeout(function(){window.lock_{{product.id}}=false}, 200);
			}
		});
		
		//handle change in quantity
		rjQuery('#quantity').on("change",function(){
			if(has_discount_{{product.id}} == true) {
				updatePrice_{{product.id}}("UPDATE - Qty change on");
			}
		});
		
		//run the price updater once page loads to reset it to what we need it to be				
		updateInlinePrice_{{product.id}}();		
				
	})//end document ready

		

	/** set variant mapping for the case in which there is an automatically created duplicate product **/
	var variant_id_to_discount_id_map_{{product.id}} = {};  
	var variant_price_to_discount_price_map_{{product.id}} ={} 
	var discount_variants_array_for_select_{{product.id}}=[]
	
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		var discount_variant_id = '{{ variant.metafields.subscriptions.discount_variant_id }}'
		variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}']='' 
		
		if(discount_variant_id) {
			variant_id_to_discount_id_map_{{product.id}}['{{variant.id}}'] = {"discount_variant_id":discount_variant_id};
			discount_variants_array_for_select_{{product.id}}.push(discount_variant_id)
		}
		
		var discount_variant_price = '{{ variant.metafields.subscriptions.discount_variant_price }}'
		variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}']=''
		
		if(discount_variant_price) {
			variant_price_to_discount_price_map_{{product.id}}['{{variant.id}}'] = { "discount_variant_price": discount_variant_price } 
		}

{%endunless%}
{%endunless%}
	{% endfor %}
	
	//map original prices for updated price calculations
	variant_id_to_price_map_{{product.id}}={}
	{% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

		variant_id_to_price_map_{{product.id}}['{{variant.id}}'] = "{{variant.price}}"

{%endunless%}
{%endunless%}
	{% endfor %}

}//end if (subscription_on==true) section
	
</script> 


