
<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="nav_arrows">
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev">&#x25C5;</a>
      {% endif %}

      {% if collection.next_product %}
        <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next">&#x25BB;</a>
      {% endif %}
    </div>

<!--     {% if settings.product_breadcrumb %}
      <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
          {% else %}
            <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
          {% endif %}
        </span>
        &nbsp;<span class="icon-right-arrow"></span>
        {{ product.title }}
      </div>
    {% endif %} -->
  </div>
</div>

        

{% if settings.product_sidebar %}
  {% include 'sidebar' %}
  <div class="twelve columns">
    <div class="product-{{ product.id }}">
{% else %}
  <div class="sixteen columns">
    <div class="product-{{ product.id }}">
{% endif %}

	<div class="section product_section clearfix" itemscope itemtype="http://schema.org/Product">
	             
    <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if settings.product_images_position == 'right' %}mobile_only{% endif %}">
      {% include 'product-images' %}
    </div>

    <div class="{% if settings.product_sidebar %}five{% else %}seven{% endif %} columns {% if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
      
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}
      <h1 class="product_name" itemprop="name"><div style="position:relative;"> {{ product.title }} <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-label" }} </div> </div></h1>
      {% if settings.display_vendor %}
        <p class="vendor">
          <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
        </p>
      {% endif %}

      {% if variant.sku != blank and settings.display_sku %}
        <p class="sku">
          <span itemprop="sku">{{ variant.sku }}</span>
        </p>
      {% endif %}
      
      {% if settings.size_chart != blank %}
        <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
      {% endif %}
      
      {% if settings.product_description_position == "top" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
       {% endif %}
      {% endif %}

<!--       {% unless collection_handles contains 'coming-soon' %}
        <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ shop.name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if sca_product_available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />

          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price">
              {% if variant.available %}
                {% if variant.price > 0 %} 
                  {{ variant.price | money }}
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            {{ variant.compare_at_price | money }}
          {% endif %}
          </span>
        </p>
        
        {% include 'product-notify-me' %}
      {% endunless %} -->

      <h1 style="color:red;">Offer is Closed!</h1>
      <p>We're working to curate more special promotions like this. In the meantime, get your regular shipment of the world's finest and healthiest natural wine here: <a href="dryfarmwines.com/products/wine-membership">Shop Natural Wines</a> </p>

		{% unless collection_handles contains 'coming-soon' %}
            {% include 'product-form-no-price' with 'product' %}
          {% endunless %}  
      <div style="margin-top:20px;">
	      <p style="font-size:21px;font-weight:300;font-style:italic;">You get 3 shipments, each with 3 bottles of Natural Pinot Noir</p>
      </div>

      {% if settings.product_description_position == "bottom" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
          {{ product.description | split: '<!-- split -->' | first }}
         </div>
        {% endif %}
      {% endif %}

      {% if settings.display_collections or settings.display_tags or settings.display_type %}
       <hr />
      {% endif %}
     
      <div class="meta">
        
   
        {% if settings.display_collections %}
          <p>
            <span class="label">{{ 'products.product.collections' | t }}:</span> 
            <span>
             {% for col in product.collections %}
               <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
             {% endfor %}
           </span>
         </p>
        {% endif %}
      
        {% if settings.display_tags %}
           <p>
             {% for tag in product.tags %}
               {% if forloop.first %}
                 <span class="label">{{ 'products.product.tags' | t }}:</span> 
               {% endif %}

               {% unless tag contains 'meta-related-collection-' %}
                 <span>
                   <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                 </span>
               {% endunless %} 
             {% endfor %}
           </p>
        {% endif %}
      
       {% if settings.display_type %}
          <p>
            <span class="label">{{ 'products.product.product_types' | t }}:</span> 
            <span>{{ product.type | link_to_type }}</span>
          </p>
       {% endif %}
      </div>

      {% if settings.display_social_buttons %}
          <div class="share-button"></div>
        {% endif %}
      
    
    {% if settings.product_images_position == 'right' %}   
      <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">          
        {% include 'product-images' %}
      </div>
    {% endif %}
  </div>

  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
  </div>
{% comment %}
  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 0 %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign skip_product = product %}
        {% assign products = collections[col].products %}
        {% assign products_per_row = settings.products_per_row %}
        {% include 'product-loop' with settings.product_sidebar %}
      {% endif %}
    {% endif %}
  {% endif %}
      {% endcomment %}
</div>
      </div>
      

                	
    </div>
    
    
<div class="container">
  <div class="row">
    <div class="eight columns">
      <div class="why-wines-unique">
        <div class="row">
          <div class="sixteen columns text-center mobile-off">
            <p class="heading-2" style="font-size:50px;text-align:center;">How Are These Wines Unique?</p>
          </div>
          <div class="seven columns mobile-on text-center mobile-on">
            <p class="heading-2" style="font-size: 24px;text-align:center;">How Are These Wines Unique?</p>
          </div>
        </div>

        <div class="eight columns">
          <div class="two columns">
            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/grape-circle.png?8875175347034493518" style="width:100%;max-width:125px;">
          </div>
          <div class="five columns">
            <p class="heading-2" style="font-family: 'brandon_regular'; font-size:23px">Natural and Organic</p>
            <p style="font-family: 'brandon_regular'; font-size:18px">Free of synthetic chemicals and flavor additives. Our artisans rely on nature to guide their wines.</p> 
          </div>
        </div>

        <br />
        <div class="eight columns">
          <div class="two columns">
            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/lab-circle.png?8875175347034493518" style="width:100%;max-width:125px;">
          </div>
          <div class="five columns">
            <p class="heading-2" style="font-family: 'brandon_regular'; font-size:23px">Lab Tested</p>
            <p style="font-family: 'brandon_regular'; font-size:18px">Lab-tested to meet our stringent health standards, like free of sugar and carbs, plus low in sulfites.</p> 
          </div>
        </div>

        <br />

        <div class="eight columns">
          <div class="two columns">
            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/cheers-circle.png?8875175347034493518" style="width:100%;max-width:125px;">
          </div>
          <div class="five columns">
            <p class="heading-2" style="font-family: 'brandon_regular'; font-size:23px">Euphoric Buzz</p>
            <p style="font-family: 'brandon_regular'; font-size:18px">Clean and vibrant, so you'll get a euphoric buzz without the side effects like hangovers.</p> 
          </div>
        </div>


      </div>
    </div>
    
    <div class="eight columns" style="padding-top:100px;">
      <div class="row">
        <div class="two columns">
          <div class="endorsed-image">
            <img style="width:100%;max-width:125px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
            </div>
        </div>
        <div class="five columns">
          <div class="endorsed-name" style="font-family: 'brandon_regular'; font-size:18px">Mark Sisson, Primal Blueprint</div>
          <blockquote style="font-family: 'brandon_regular'; font-size:22px">The perfect paleo wine, I’m a believer.</blockquote>
        </div>
      </div>

      <div class="row">
        <div class="two columns">
            <div class="endorsed-image">
              <img style="width:100%;max-width:125px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
              </div>
          </div>
        <div class="five columns">
          <div class="endorsed-name" style="font-family: 'brandon_regular'; font-size:18px">Dave Asprey, Bulletproof</div>
          <blockquote style="font-family: 'brandon_regular'; font-size:22px">Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
        </div>
      </div>
      
      <div class="row">
        <div class="two columns">
            <div class="endorsed-image">
              <img style="width:100%;max-width:125px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?433690727110574866">
              </div>
          </div>
        <div class="five columns">
          <div class="endorsed-name" style="font-family: 'brandon_regular'; font-size:18px">JJ Virgin</div>
          <blockquote style="font-family: 'brandon_regular'; font-size:22px">Take great care of your body and your palate with Dry Farm Wines!</blockquote>
        </div>
      </div>
      
    </div>
  </div>
  
    
<!-- <div class="container">
  <div class="why-wines-unique">
    <div class="row">
      <div class="seven columns text-center mobile-off">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Copy_of_unique_copy.png?3630834592812156274">
      </div>
      <div class="seven columns mobile-on text-center mobile-on">
        <p class="heading-2">Why Are These Wines Unique?</p>
      </div>
    </div>
    
    <div class="sixteen columns">
      <div class="two columns">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/grape-circle.png?8875175347034493518" style="width:100%;">
      </div>
      <div class="seven columns">
        <p class="heading-2">All Natural</p>
        <p>Free of synthetic chemicals & flavor additives. Our artisans rely on nature’s bountiful logic to guide their wines.</p> 
      </div>
    </div>

    <br />
    <div class="sixteen columns">
      <div class="two columns">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/lab-circle.png?8875175347034493518" style="width:100%;">
      </div>
      <div class="seven columns">
        <p class="heading-2">Lab Tested</p>
        <p>Lab-tested to meet our stringent health standards: no sugar, no carbs, and low sulfites.</p> 
      </div>
    </div>

    <br />
	
    <div class="sixteen columns">
      <div class="two columns">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/cheers-circle.png?8875175347034493518" style="width:100%;">
      </div>
      <div class="seven columns">
        <p class="heading-2">Euphoric Buzz</p>
        <p>Clean, vibrant profile so you'll get a euphoric buzz without the side effects.</p> 
      </div>
    </div>
    
    
  </div>
</div> -->


</div>

<script>
  $(document).ready(function(){
$(".header_bar ul li:first-child").css("display", "none");
// $(".mm-list li:first-child").css("display", "none");
});
</script>

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }}, 
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>	


